﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Predicto</title>
    <link rel="shortcut icon" href="">
    <meta name="keywords" content="DataSematics" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    @Styles.Render("~/Content/css")
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href='@Url.Action("Index", "Dashboard")' class="site_title">
                             <span>Predicto</span>
                        </a>
                    </div>
                    <div class="clearfix" style="border-bottom: solid 2px whitesmoke;"></div>
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        @*<script src="~/Scripts/jquery-1.js"></script>*@
                        <div class="menu_section">
                            <ul class="nav side-menu">
                                <li><a href='@Url.Action("Index", "Dashboard")'><i class="fa fa-plus-circle" aria-hidden="true"></i>Dashboard</a></li>

                                <li>
                                    <a style="box-shadow:none;" class=""><i class="fa fa-book" aria-hidden="true"></i>Data Representation<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu ">
                                        <li><a href='@Url.Action("Index", "DataRepresentation")'><i class="fa fa-eye" aria-hidden="true"></i>Model Efficiency Details </a></li>
                                        <li><a href='@Url.Action("Segmentation", "DataRepresentation")'><i class="fa fa-lock" aria-hidden="true"></i>Customer Segmentation &nbsp;&nbsp;&nbsp;Details</a></li>
                                    </ul>
                                </li>



                                <li>
                                    <a style="box-shadow:none;" class=""><i class="fa fa-book" aria-hidden="true"></i>Portfolio insights<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu ">
                                       <li> <a style="box-shadow:none;" href='@Url.Action("overlap", "Dashboard")'><i class="fa fa-venus-mars"></i> Product overlap</a></li>
                                        <li><a style="box-shadow:none;" href='@Url.Action("Index", "Product_Purchase")'><i class="fa fa-book"></i> Chronology / life cycle</a></li>
                                         <li><a href='@Url.Action("matrix_view", "Product_Purchase")'><i class="fa fa-lock" aria-hidden="true"></i>Product distribution</a></li>
                                    </ul>
                                </li>





                                <li>
                                    <a style="box-shadow:none;" href='@Url.Action("Index", "Campains")'><i class="fa fa-book"></i>Existing Campaigns</a>

                                </li>
                                
                                

                                @*<li>
                                    <a style="box-shadow:none;" class=""><i class="fa fa-product-hunt" aria-hidden="true"></i>Product Purchase<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu ">
                                        <li><a style="box-shadow:none;" href='@Url.Action("Index", "Product_Purchase")'><i class="fa fa-book"></i>Name1</a></li>
                                        <li><a href='@Url.Action("matrix_view", "Product_Purchase")'><i class="fa fa-lock" aria-hidden="true"></i>Name2</a></li>
                                    </ul>
                                </li>*@
                                 
                                
                                <li>
                                    <a style="box-shadow:none;" href='@Url.Action("AddCampains", "Campains")'><i class="fa fa-plus-circle"></i> New Campaign</a>

                                </li>

                                <li>
                                    <a style="box-shadow:none;" class=""><i class="fa fa-user" aria-hidden="true"></i> My Profile <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu ">

                                        <li><a href='@Url.Action("Index", "profile")'><i class="fa fa-plus-circle" aria-hidden="true"></i>View Profile</a></li>
                                        <li><a href='@Url.Action("Edit", "profile")'><i class="fa fa-eye" aria-hidden="true"></i>Edit Profile</a></li>
                                        <li><a href='@Url.Action("Change_Password", "profile")'><i class="fa fa-lock" aria-hidden="true"></i>Change Password</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a style="box-shadow:none;" href='@Url.Action("Index", "About")'><i class="fa fa-info"></i> About Software</a>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="top_nav">
                <div class="nav_menu">
                    <nav role="navigation">
                        <ul class="nav navbar-nav pull-right head-down">
                            <div class="dropdown">
                                <a  href="@Url.Action("Index", "Home")" class="btn btn-primary logout dropdown-toggle"  type="button">
                                 Logout   
                                </a>
                            </div>
                        </ul>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        
                    </nav>
                </div>
            </div>

           

            @RenderBody()
        </div>
        <div class="sidebar-footer hidden-xs hidden-sm">
            <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Settings">
               <small>©DSPL, 2016. All Rights Reserved.</small>
            </a>

        </div>
    </div>
    <div id="custom_notifications" class="custom-notifications dsp_none">
        <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group"></ul>
        <div class="clearfix"></div>
        <div id="notif-group" class="tabbed_notifications"></div>
    </div>
    @RenderPage("~/Views/Shared/ClientMessage.cshtml")
    <style>
        .nav li.current-page {
    background: rgba(255,255,255,0.05);
}
    </style>
    <style>
        .bs-wizard {
            margin-top: 40px;
        }

        /*Form Wizard*/
        .bs-wizard {
            border-bottom: solid 1px #e0e0e0;
            padding: 0 0 10px 0;
        }

            .bs-wizard > .bs-wizard-step {
                padding: 0;
                position: relative;
            }

                .bs-wizard > .bs-wizard-step + .bs-wizard-step {
                }

                .bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
                    color: #595959;
                    font-size: 16px;
                    margin-bottom: 5px;
                }

                .bs-wizard > .bs-wizard-step .bs-wizard-info {
                    color: #999;
                    font-size: 14px;
                }

                .bs-wizard > .bs-wizard-step > .bs-wizard-dot {
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    display: block;
                    background: #26b99a;
                    top: 45px;
                    left: 50%;
                    margin-top: -15px;
                    margin-left: -15px;
                    border-radius: 50%;
                }

                    .bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
                        content: ' ';
                        width: 14px;
                        height: 14px;
                        background: #34495e;
                        border-radius: 50px;
                        position: absolute;
                        top: 8px;
                        left: 8px;
                    }

                .bs-wizard > .bs-wizard-step > .progress1 {
                    position: relative;
                    border-radius: 0px;
                    height: 8px;
                    box-shadow: none;
                    margin: 17px 0;
                }

                    .bs-wizard > .bs-wizard-step > .progress1 > .progress-bar {
                        width: 0px;
                        box-shadow: none;
                        background: #26b99a;
                    }

                .bs-wizard > .bs-wizard-step.complete > .progress1 > .progress-bar {
                    width: 100%;
                }

                .bs-wizard > .bs-wizard-step.active > .progress1 > .progress-bar {
                    width: 50%;
                }

                .bs-wizard > .bs-wizard-step:first-child.active > .progress1 > .progress-bar {
                    width: 0%;
                }

                .bs-wizard > .bs-wizard-step:last-child.active > .progress1 > .progress-bar {
                    width: 100%;
                }

                .bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
                    background-color: #f5f5f5;
                }

                    .bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
                        opacity: 0;
                    }

                .bs-wizard > .bs-wizard-step:first-child > .progress1 {
                    left: 50%;
                    width: 50%;
                }

                .bs-wizard > .bs-wizard-step:last-child > .progress1 {
                    width: 50%;
                }

                .bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot {
                    pointer-events: none;
                }
                .progress1 {
         height: 9px !important;
         margin-bottom: 0px !important;
         overflow: hidden;
         background-color: #f5f5f5;
         border-radius: 4px;
         -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
         box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
     }

     .progress-bar {
         float: left;
         width: 0;
         height: 100%;
         font-size: 11px !important;
         line-height: 17px !important;
         color: #fff;
         text-align: center;
         background-color: #337ab7;
         -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
         box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
         -webkit-transition: width .6s ease;
         -o-transition: width .6s ease;
         transition: width .6s ease;
     }
     .status_view {
         padding: 1px 1px !important;
         font-size: 10px !important;
         line-height: 0.9 !important;
         margin: 8px;
     }
     .modal-body {
         position: relative;
         padding: 15px;
         border: solid 2px white;
     }
     .modal-header {
         padding: 15px;
         border-bottom: 1px solid #e5e5e5;
         background-color: #151f2a;
         color:white;
     }
     .close {
         float: right;
         font-size: 22px;
         font-weight: 700;
         line-height: 1;
         color: #ffffff;
         text-shadow: 0 1px 0 #fff;
         filter: alpha(opacity=20);
         opacity: 1.5;
     }
    </style>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
