﻿﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @Styles.Render("~/Content/css")
</head>
<body style="background:#F7F7F7;">
    <div class="">
        <a class="hiddenanchor" id="toregister"></a>

        <a class="hiddenanchor" id="tologin"></a>

        <div id="wrapper">

            <div id="login" class="animate form">

                <section class="login_content">

                    @RenderBody()


                </section>

                <!-- content -->

            </div>


        </div>


    </div>
    @RenderPage("~/Views/Shared/ClientMessage.cshtml")

    <script src="~/Scripts/jquery.backstretch.min.js"></script>


    <script>

        $.backstretch("/images/profile-02.jpg", { speed: 500 });

    </script>


    <style>
        /*LOGIN CONFIGURATION PAGE*/
        .form-login {
            max-width: 330px;
            margin: 100px auto 0;
            background: #fff;
            border-radius: 5px;
            -webkit-border-radius: 5px;
        }

        h2.form-login-heading {
            margin: 0;
            padding: 25px 20px;
            text-align: center;
            background: #2A3F54;
            border-radius: 5px 5px 0 0;
            -webkit-border-radius: 5px 5px 0 0;
            color: #fff;
            font-size: 20px;
            font-weight: 300;
        }

        .login-wrap {
            padding: 20px;
        }

            .login-wrap .registration {
                text-align: center;
            }

        .login-social-link {
            display: block;
            margin-top: 20px;
            margin-bottom: 15px;
        }

        .btn-theme:hover, .btn-theme:focus, .btn-theme:active, .btn-theme.active, .open .dropdown-toggle.btn-theme {
            color: #fff;
            background-color: #2A3F54;
            border-color: #2A3F54;
        }

        .btn:hover, .btn:focus {
            color: #333;
            text-decoration: none;
        }

        .sign_txt {
            color: #555;
            font-size: 14px;
            text-align: center;
            padding-top: 14px;
            padding-bottom: 0;
        }
    </style>

    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)


</body>

</html>