﻿@model Models.document_list

@{
    ViewBag.Title = "SuperAdmin";
    Layout = "~/Views/Shared/_Super_admin_layout.cshtml";
}
<div class="right_col" role="main">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><i class="fa fa-files-o" aria-hidden="true"></i>&nbsp;Document List</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="table-responsive table-fixed col-md-12" style="overflow-y: hidden;">
                        <table class="tab-score" data-toggle="table" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
                            <thead class="thd">
                                <tr>
                                    <th class="headeralign" data-sortable="true">Document Name</th>
                                    <th class="headeralign" data-sortable="true">Status</th>
                                    <th class="headeralign" data-sortable="true">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.content)
                                {
                                    <tr>
                                        <td align="center">@item.Name</td>
                                        <td align="center" style="text-align :center" class="text-center">
                                            <span class="label label-success" align="center" style="vertical-align:middle;">Successful</span>
                                        </td>
                                        <td align="center" style="text-align :center">
                                            <a href="@Url.Action("Delete_Documents_type", "Documents", new { Id = item.Id })" class="btn btn-danger  btn-xs buttoncolor">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>