﻿  
.demo-container {
    box-sizing: border-box;
    width: 100%;
    height: 350px; display: block; margin-bottom: 10px;
}

.demo-placeholder {
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 1.2em;
}

.legend table {
    border-spacing: 5px;
}
.pieLabel {
    border: 1px solid #CAC9C9;
    border-radius: 4px; 
    padding: 1px 1px;
}