﻿ 

.tooltip-inner {
        background-color: white;
        color: black;
        padding: 10px;
        box-shadow: 1px 1px 1px 1px;
    }

    .tooltip.top .tooltip-arrow {
        border-top-color: black;
        background-color: whitesmoke;
    }

    .tooltip.right .tooltip-arrow {
        border-right-color: black;
    }

    .tooltip.bottom .tooltip-arrow {
        border-bottom-color: black;
    }

    .tooltip.left .tooltip-arrow {
        border-left-color: black;
    } 

.progress1 {
        height: 9px !important;
        margin-bottom: 0px !important;
        overflow: hidden;
        background-color: #f5f5f5;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
        box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    }

    .progress-bar {
        float: left;
        width: 0;
        height: 100%;
        font-size: 11px !important;
        line-height: 17px !important;
        color: #fff;
        text-align: center;
        background-color: #337ab7;
        -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
        box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
        -webkit-transition: width .6s ease;
        -o-transition: width .6s ease;
        transition: width .6s ease;
    }

    .status_view {
        padding: 1px 1px !important;
        font-size: 10px !important;
        line-height: 0.9 !important;
        margin: 8px;
    }

    .modal-body {
        position: relative;
        padding: 15px;
        border: solid 2px white;
    }

    .modal-header {
        padding: 15px;
        border-bottom: 1px solid #e5e5e5;
        background-color: #151f2a;
        color: white;
    }

    .close {
        float: right;
        font-size: 22px;
        font-weight: 700;
        line-height: 1;
        color: #ffffff;
        text-shadow: 0 1px 0 #fff;
        filter: alpha(opacity=20);
        opacity: 1.5;
    }

    .type {
        font-weight: 600;
        font-size: smaller;
    }

    .head {
        font-size: 13px;
        font-weight: bold;
    }


    .block-heading-two h4 span {
        border-color: #32c8de;
    }

    .block-heading-two h4 span {
        border-bottom: 3px solid #2a3f54;
        padding: 5px;
    }

    .block-heading-two strong {
        border-bottom: 3px solid #2a3f54;
        padding: 5px;
    }

    .details {
        margin: 2px 0px;
        padding: 0px;
        margin-bottom: 5px;
        margin: 0 0 9px;
        line-height: 2.2rem;
        text-align: justify;
    }

    .doc {
        padding: 0px;
        margin: 1px;
        padding: 4px 14px;
        color: black;
    }

    .doc-head {
        font-weight: bold;
        font-size: 13px;
        margin: 1px;
        padding: 0px 0px 5px 0px;
        color: black;
    }

    .des {
        padding: 0px;
        margin: 1px;
        padding: 7px 14px;
        color: black;
    }

    .item-ingred li {
        padding: 7px 14px;
        color: black;
        border-bottom: 1px dashed #eee;
    }

    .item-ingred {
        margin: 10px auto;
        border-radius: 3px;
        border: 1px solid #eee;
    }

    .panel-clr {
        color: #fff !important;
        opacity: 0.8;
        background-color: #2a3f54 !important;
        padding: 0 16px;
        overflow-x: hidden;
    }

    .item-ingred li span {
        float: right;
    }

    .item-ingred li i {
        color: #aaa;
        margin-right: 5px;
    }




    .tooltip-inner {
        background-color: white;
        color: black;
        padding: 10px;
        box-shadow: 1px 1px 1px 1px;
    }

    .tooltip.top .tooltip-arrow {
        border-top-color: black;
        background-color: whitesmoke;
    }

    .tooltip.right .tooltip-arrow {
        border-right-color: black;
    }

    .tooltip.bottom .tooltip-arrow {
        border-bottom-color: black;
    }

    .tooltip.left .tooltip-arrow {
        border-left-color: black;
    } 



#panelbackcolor {
        color: black;
    }

    .GrayBox {
        background: #F5F5F5;
        overflow: hidden;
        padding: 10px;
        margin-bottom: 10px;
        left: 10px;
    }

    .pad {
        padding-right: 20px;
    }






.lbl {
        position: relative !important;
        top: 7px !important;
    }

    .bio {
        border-bottom: solid 2px #f7f7f7;
        padding: 10px;
    }

    .imgpic {
        border: solid 2px #34495e;
    }

    .user-text {
        display: block;
        top: 3px;
        position: relative;
    }

    .userName {
        padding: 0;
        margin: 0;
        display: block;
        text-transform: uppercase;
        color: #727272;
        font-family: BebasNeueRegular;
        font-weight: lighter;
        font-size: 36px;
    }

    .HeadingBold {
        font-size: 22px;
        padding: 0 20px;
        margin-bottom: 18px;
    }

    .profileBox {
        width: 100%;
        display: block;
        padding: 10px 0 20px 0;
        border-bottom: 1px solid #f0f0f0;
        position: relative;
    }
.card-title {
        font-weight: 400;
        font-size: 14px;
        text-transform: uppercase;
        opacity: 0.9;
        color: #34495e;
        margin-top: 0px;
    }
    .card {
        
        background-color: rgba(255, 255, 255, 0.1);
        border: 0;
        border-radius: 7px;
        position: relative;
        margin-bottom: 24px;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
    }
    .card-header { 
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .label-cus {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        
         font-weight: 100 !important; 
    }
    .card-header {
        border-bottom: 1px solid #ddd;
        height: 44px;
        font-size: 16px;
        padding: 14px 22px;
        background-color: transparent;
    }
    .labelpull {
        color: rgb(164, 164, 164);
    }

    .checkbox label:after,
    .radio label:after {
        content: '';
        display: table;
        clear: both;
    }

    .checkbox .cr,
    .radio .cr {
        position: relative;
        display: inline-block;
        border: 1px solid #a9a9a9;
        border-radius: .25em;
        width: 1.3em;
        height: 1.3em;
        float: left;
        margin-right: .5em;
    }

    .radio .cr {
        border-radius: 50%;
    }

        .checkbox .cr .cr-icon,
        .radio .cr .cr-icon {
            position: absolute;
            font-size: .8em;
            line-height: 0;
            top: 50%;
            left: 20%;
        }

        .radio .cr .cr-icon {
            margin-left: 0.04em;
        }

    .checkbox label input[type="checkbox"],
    .radio label input[type="radio"] {
        display: none;
    }

        .checkbox label input[type="checkbox"] + .cr > .cr-icon,
        .radio label input[type="radio"] + .cr > .cr-icon {
            transform: scale(3) rotateZ(-20deg);
            opacity: 0;
            transition: all .3s ease-in;
        }

        .checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
        .radio label input[type="radio"]:checked + .cr > .cr-icon {
            transform: scale(1) rotateZ(0deg);
            opacity: 1;
        }

        .checkbox label input[type="checkbox"]:disabled + .cr,
        .radio label input[type="radio"]:disabled + .cr {
            opacity: .5;
        }

    .payrefund-wrapper h4.heading {
        border-bottom: 1px solid #d7d7d7;
        padding: 5px 15px;
        font-size: 20px;
        color: #333;
        line-height: 30px;
        margin-bottom: 20px;
        font-weight: normal;
    }

    .choose {
        left: 30px;
        position: relative;
    }

    .payrefund-wrapper {
        width: 60%;
        border: 1px solid #008bcf;
        padding: 39px 23px;
        /* float: left; */
        margin-bottom: 30px;
    }

    .field-title {
        font-size: 14px;
        color: #333;
        font-weight: normal;
    }



    .text-box {
        width: 74% !important;
        margin-bottom: 10px;
        padding: 12px 3%;
        font-size: 13px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        left: 31px;
        position: relative;
    }

    .checkbox label, .radio label {
        padding-left: 0px;
    }



    .labelpull {
        color: rgb(164, 164, 164);
    }

    .checkbox label:after,
    .radio label:after {
        content: '';
        display: table;
        clear: both;
    }

    .checkbox .cr,
    .radio .cr {
        position: relative;
        display: inline-block;
        border: 1px solid #a9a9a9;
        border-radius: .25em;
        width: 1.3em;
        height: 1.3em;
        float: left;
        margin-right: .5em;
    }

    .radio .cr {
        border-radius: 50%;
    }

        .checkbox .cr .cr-icon,
        .radio .cr .cr-icon {
            position: absolute;
            font-size: .8em;
            line-height: 0;
            top: 50%;
            left: 20%;
        }

        .radio .cr .cr-icon {
            margin-left: 0.04em;
        }

    .checkbox label input[type="checkbox"],
    .radio label input[type="radio"] {
        display: none;
    }

        .checkbox label input[type="checkbox"] + .cr > .cr-icon,
        .radio label input[type="radio"] + .cr > .cr-icon {
            transform: scale(3) rotateZ(-20deg);
            opacity: 0;
            transition: all .3s ease-in;
        }

        .checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
        .radio label input[type="radio"]:checked + .cr > .cr-icon {
            transform: scale(1) rotateZ(0deg);
            opacity: 1;
        }

        .checkbox label input[type="checkbox"]:disabled + .cr,
        .radio label input[type="radio"]:disabled + .cr {
            opacity: .5;
        }

    .payrefund-wrapper h4.heading {
        border-bottom: 1px solid #d7d7d7;
        padding: 5px 15px;
        font-size: 20px;
        color: #333;
        line-height: 30px;
        margin-bottom: 20px;
        font-weight: normal;
    }

    .choose {
        left: 30px;
        position: relative;
    }

    .payrefund-wrapper {
        width: 60%;
        border: 1px solid #008bcf;
        padding: 39px 23px;
        /* float: left; */
        margin-bottom: 30px;
    }

    .field-title {
        font-size: 14px;
        color: #333;
        font-weight: normal;
    }



    .text-box {
        width: 74% !important;
        margin-bottom: 10px;
        padding: 12px 3%;
        font-size: 13px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        left: 31px;
        position: relative;
    }

    .checkbox label, .radio label {
        padding-left: 0px;
    }
    .vertical-divider {
        position: absolute;
        z-index: 10;
        top: 50%;
        left: 50%;
        margin: 0;
        padding: 0;
        width: auto;
        height: 50%;
        line-height: 5px;
        text-align: center;
        font-size: 16px;
        transform: translateX(-50%);
    }

        .vertical-divider:before {
            position: absolute;
            left: 50%;
            content: '';
            z-index: 9;
            border-left: 2px solid rgba(34,36,38,.15);
            border-right: 2px solid rgba(255,255,255,.1);
            width: 0;
            height: calc(100% - 1rem);
        }

        .vertical-divider:after {
            position: absolute;
            left: 50%;
            content: '';
            z-index: 9;
            border-left: 2px solid rgba(34,36,38,.15);
            border-right: 2px solid rgba(255,255,255,.1);
            width: 0;
            height: calc(100% - 3rem);
        }

    .row-divided > .vertical-divider {
        height: calc(50% - 1rem);
    }

    .vertical-divider:before {
        top: -100%;
    }

    .vertical-divider:after {
        top: auto;
        bottom: 0;
    }

    .row-divided {
        position: relative;
    }

        .row-divided > [class^="col-"],
        .row-divided > [class*=" col-"] {
            padding-left: 30px; /* gutter width (give a little extra room) 2x default */
            padding-right: 30px; /* gutter width (give a little extra room) 2x default */
        }




    /* just to set different column heights - not needed to function */
    .column-one {
        height: 300px;
        background-color: #EBFFF9;
    }

    .column-two {
        height: 400px;
        background-color: #F7F3FF;
    }

    .mes {
        font-style: italic;
        font-family: 'MyWebFont', 'Jenna Sue';
    }  


 .vertical-divider {
        position: absolute;
        z-index: 10;
        top: 50%;
        left: 50%;
        margin: 0;
        padding: 0;
        width: auto;
        height: 50%;
        line-height: 5px;
        text-align: center;
        font-size: 16px;
        transform: translateX(-50%);
    }

        .vertical-divider:before {
            position: absolute;
            left: 50%;
            content: '';
            z-index: 9;
            border-left: 2px solid rgba(34,36,38,.15);
            border-right: 2px solid rgba(255,255,255,.1);
            width: 0;
            height: calc(100% - 1rem);
        }

        .vertical-divider:after {
            position: absolute;
            left: 50%;
            content: '';
            z-index: 9;
            border-left: 2px solid rgba(34,36,38,.15);
            border-right: 2px solid rgba(255,255,255,.1);
            width: 0;
            height: calc(100% - 3rem);
        }

    .row-divided > .vertical-divider {
        height: calc(50% - 1rem);
    }

    .vertical-divider:before {
        top: -100%;
    }

    .vertical-divider:after {
        top: auto;
        bottom: 0;
    }

    .row-divided {
        position: relative;
    }

        .row-divided > [class^="col-"],
        .row-divided > [class*=" col-"] {
            padding-left: 30px; /* gutter width (give a little extra room) 2x default */
            padding-right: 30px; /* gutter width (give a little extra room) 2x default */
        }




    /* just to set different column heights - not needed to function */
    .column-one {
        height: 300px;
        background-color: #EBFFF9;
    }

    .column-two {
        height: 400px;
        background-color: #F7F3FF;
    }

    .arrow {
        display: none !important;
    }
.lb {
        overflow: hidden !important;
        text-overflow: ellipsis;
        width: 200px;
    }

    .image-preview-input-title {
        top: -10px;
        position: relative;
    }

    .MultiFile-title {
        background-color: #e6e6e6;
        padding: 2px 6px 1px;
    }

    .image-preview-input input[type=file] {
         
        /*left: 147px;
        top: -27px;*/
        cursor: pointer;
    }

    .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
        z-index: 2;
        margin-left: -1px;
        height: 37px;
        background-color: whitesmoke;
    }


.bs-wizard {
        margin-top: 40px;
    }

    /*Form Wizard*/
    .bs-wizard {
        border-bottom: solid 1px #e0e0e0;
        padding: 0 0 10px 0;
    }

        .bs-wizard > .bs-wizard-step {
            padding: 0;
            position: relative;
        }

            .bs-wizard > .bs-wizard-step + .bs-wizard-step {
            }

            .bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
                color: #595959;
                font-size: 16px;
                margin-bottom: 5px;
            }

            .bs-wizard > .bs-wizard-step .bs-wizard-info {
                color: #999;
                font-size: 14px;
            }

            .bs-wizard > .bs-wizard-step > .bs-wizard-dot {
                position: absolute;
                width: 30px;
                height: 30px;
                display: block;
                background: #26b99a;
                top: 45px;
                left: 50%;
                margin-top: -15px;
                margin-left: -15px;
                border-radius: 50%;
            }

                .bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
                    content: ' ';
                    width: 14px;
                    height: 14px;
                    background: #34495e;
                    border-radius: 50px;
                    position: absolute;
                    top: 8px;
                    left: 8px;
                }

            .bs-wizard > .bs-wizard-step > .progress1 {
                position: relative;
                border-radius: 0px;
                height: 8px;
                box-shadow: none;
                margin: 17px 0;
            }

                .bs-wizard > .bs-wizard-step > .progress1 > .progress-bar {
                    width: 0px;
                    box-shadow: none;
                    background: #26b99a;
                }

            .bs-wizard > .bs-wizard-step.complete > .progress1 > .progress-bar {
                width: 100%;
            }

            .bs-wizard > .bs-wizard-step.active > .progress1 > .progress-bar {
                width: 50%;
            }

            .bs-wizard > .bs-wizard-step:first-child.active > .progress1 > .progress-bar {
                width: 0%;
            }

            .bs-wizard > .bs-wizard-step:last-child.active > .progress1 > .progress-bar {
                width: 100%;
            }

            .bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
                background-color: #f5f5f5;
            }

                .bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
                    opacity: 0;
                }

            .bs-wizard > .bs-wizard-step:first-child > .progress1 {
                left: 50%;
                width: 50%;
            }

            .bs-wizard > .bs-wizard-step:last-child > .progress1 {
                width: 50%;
            }

            .bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot {
                pointer-events: none;
            }

    .progress1 {
        height: 9px !important;
        margin-bottom: 0px !important;
        overflow: hidden;
        background-color: #f5f5f5;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
        box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    }

    .progress-bar {
        float: left;
        width: 0;
        height: 100%;
        font-size: 11px !important;
        line-height: 17px !important;
        color: #fff;
        text-align: center;
        background-color: #337ab7;
        -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
        box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
        -webkit-transition: width .6s ease;
        -o-transition: width .6s ease;
        transition: width .6s ease;
    }

    .status_view {
        padding: 1px 1px !important;
        font-size: 10px !important;
        line-height: 0.9 !important;
        margin: 8px;
    }

    .modal-body {
        position: relative;
        padding: 15px;
        border: solid 2px white;
    }

    .modal-header {
        padding: 15px;
        border-bottom: 1px solid #e5e5e5;
        background-color: #151f2a;
        color: white;
    }

    .close {
        float: right;
        font-size: 22px;
        font-weight: 700;
        line-height: 1;
        color: #ffffff;
        text-shadow: 0 1px 0 #fff;
        filter: alpha(opacity=20);
        opacity: 1.5;
    }


    .btn-primary.active {
        background-color: #096d58 !important;
        border-color: #0a9e7f !important;
    }

    .upsell {
        background-color: #2cd0ad;
        border-color: #2cd0ad;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }

        .upsell:hover {
            background-color: #096d58;
            border-color: #096d58;
        }

    .crosssell {
        background-color: #25e0b9 !important;
        border-color: #25e0b9 !important;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

        .crosssell:hover {
            background-color: #096d58 !important;
            border-color: #096d58 !important;
        }

    .title_start {
        border: 1px solid #ededed;
        box-shadow: 1px 2px 5px #c7c3c3;
        background-color: gainsboro;
    }

    .brd_bottom {
        border-bottom: 2px solid #2a3f54;
        width: 100%;
        top: 5px;
    }

    .brd_pad {
        padding: 10px;
        width: 100%;
    }

        .brd_pad h3 {
            margin-top: 25px;
            margin-left: 60px;
            float: left;
        }

    .main_margin {
        margin: 6px 0;
    }



    .icon-rounded {
        background-color: #9358ac;
        color: #ffffff;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -o-border-radius: 50px;
        -ms-border-radius: 50px;
        font-size: 25px;
        padding: 25px;
    }

    .user1 {
        background: #ef553a;
    }

    .user2 {
        background: #3b5998;
    }

    .user3 {
        background: #00aced;
    }

    .user3 {
        background: #00aced;
    }
    .dashboard_graph_box {
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
        -moz-box-shadow: 0 1px 1px rgba(0,0,0,.05);
        border: 1px solid #E7E7E8;
        padding: 1em 1em;
        background: #fff;
    }
     .verticaltext_content {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
        left: 40px;
        top: 309px;
        position: absolute;
        color: #2a3f54;
        font-size: 16px;
        font-weight: bold;
    }
    .verticaltext_content1 { 
        left: 216px;
        top: 465px;
        position: absolute;
        color: #2a3f54;
        font-size: 16px;
        font-weight: bold;
    }








.form-title {
        padding: 0.5em 2.2em;
        background-color: #34495e;
        border-bottom: 1px solid #D6D5D5;
        color: white;
    }
    .panel.panel-widget.forms-panel {
        border: 5px solid #d8d8d8;
        border-radius: 0;
    }
    .pbody {
        border: 3px solid #d8d8d8;
    }
    .btn-submit {
        background-color: #1abb9c;
        color: white;
        font-weight: bold;
        text-align: center;
    }
    .header-line {
        position: relative;
        top: 4px;
        font-size: 1.2em;
    }
    .txtbox {
        border: 1px solid #ccc;
        padding: 5px 8px;
        color: #616161;
        background: #fff;
        box-shadow: none !important;
        width: 100%;
        font-size: 0.85em;
        font-weight: 300;
        height: 40px;
        border-radius: 0;
        -webkit-appearance: none;
        resize: none;
    }









                             
 .radiotype { 
  list-style: none;
  /*height: 100%;*/
  height: 45%;
  width: 100%;
  margin: 0;
  padding: 0;
}


.radiotype  li{
  color: #AAAAAA;
  display: block;
  position: relative;
  float: left;
  /*width: 100%;*/
  width: 25%;
  height: 100px; 
}


.radiotype  li input[type=radio]{
    top: 35px;
    width: 63px;
    height: 18px;
    position: absolute;
    visibility: visible;
    z-index: 99999;
    left: 7px;
    cursor: pointer;
}


.radiotype  li label{
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 1.35em;
  padding: 25px 25px 25px 80px;
  margin: 10px auto;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

.radiotype li:hover label{
  color: #000;
}
.radiotype li .check:hover{
  color: #000;
}
input[type=radio]:hover .check{
  border: 5px solid #000;
  z-index: 9999;
}
.radiotype li .check{
  display: block;
  position: absolute;
  border: 5px solid #AAAAAA;
  border-radius: 100%;
  height: 35px;
  width: 35px;
  top: 30px;
  left: 20px;
  z-index: 5;
  transition: border .25s linear;
  -webkit-transition: border .25s linear;
}


.radiotype li .check::before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 15px;
  width: 15px;
  top: 5px;
  left: 5px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
  border: 5px solid #34495e;
}

input[type=radio]:checked ~ .check::before{
  background: #34495e;
}

input[type=radio]:checked ~ label{
  color: #34495e;
}

@media (max-width: 470px){
        .radiotype  li{
          width:100%;
        }
      }
  @media (min-width: 471px) and (max-width: 850px){
        .radiotype  li{
          width:50%;
        }
      }            
 
 /*loginpage*/
.content-top-login {
	background:#21252b;
	width: 100%;
}
.box-login  {
	float:right;
	margin-top:10px;
	margin-bottom:10px;
	margin-right:15px;
}
.box-login a {
	padding: 5px 10px;
	border-bottom: 1px solid #e78315;
	color:#fff;
	font-family: 'Raleway', Sans-Serif;
	font-weight: 400;
	font-size: 13px;
}
.box-login a:hover {
	text-decoration:none;
	background:#f8a953;
}
.box-logo {
   margin-bottom:0px;
}
.box-menu {
	padding:0;
	width: 100%;
	margin: 0 auto;
	background:#fff;
	border-bottom: 0px solid #333;
}
.box-login i.fa-shopping-cart {
	padding: 8px 10px 7px 10px;
	color:#fff;
	background: #333;
	border: 1px solid #232323;
	text-align: center;
	z-index: 9999;
	margin-right: 15px;
}
.box-login i.fa-shopping-cart:hover {
	background: #232323;
	cursor: pointer;
}
.cart-prod {
	z-index: 99999;
	float:right;
	margin-top:50px;
	margin-right: 15px;
	transition: all 2s linear;
    display: block;
}
.cart-prod.hiddenbox {
	display:none;
}

.content-cart-prod i.fa-times {
	float:right;
	margin-top: 5px;
}
.content-cart-prod i.fa-times:hover {
	cursor:pointer;
}

.cart-prod .sec-prod {
	position: absolute;
	z-index: 99999;
	box-shadow:0 1px 2px rgba(0,0,0,0.3);
	padding:10px;
	background:#fff;
	width: 20%;
	border-top:3px solid #2196f3;
}
.cart-prod .sec-prod img {
	width:40%;
	margin-right: 15px;
	float: left;
}
.cart-prod .sec-prod img.racket-img{
	margin-top:5px;
}
.cart-prod .sec-prod p{
	margin-top:10px;
}
.content-cart-prod {
	width:100%;
	float:left;
	border-bottom:1px solid #f7f7f7;
	font-size:13px;
}
.content-cart-prod:last-child {
	border-bottom:0px solid #f7f7f7;
}
.cart-tot-price {
	font-weight: 700;
    margin-top: 20px;
    text-align: right;
    margin-right: 30px;
    font-size: 14px;
}
.btn-cart {
	width: 100%;
    background: #3D464F;
    color: #fff;
    text-transform: uppercase;
    float: left;
    margin-bottom: 10px;
    padding: 5px 10px;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
.btn-cart:hover {
	text-decoration: none;
	background-color:#333;
	color:#fff;
}
.box-support {
	float:left;
	color: #fff;
	font-size: 13px;
    margin-top: 17px;
}
.box-support .fa-envelope-o {
	color: #fff;
	margin-right: 5px;
	margin-left: 10px;
}
.container.drawer {
   margin-top:0px;
}
.login-page {
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    padding: 20px;
    margin-bottom: 50px;
    border: 1px solid #eee;
    background: #f5f5f5;
}
.content-footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    font-size: 11px;
    padding: 20px 0;
}
 

.text-box.single-line {
    border: 1px solid #CCC5B9 !important;
  
    width: 100%;
    
    color: #66615b !important;
    font-size: 14px !important;
    transition: background-color 0.3s ease 0s !important;
    padding: 7px 18px !important;
    height: 40px !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

#eventcreate_Description , #omemberdetails_about_member,#eventcreate_condition
{
    width:100%;
    margin-bottom:10px;
}
 


.profile-panel .profile-info {
    padding: 0;
    margin: 0;
    list-style: none;
}
 

 
.panel-footer .white-content {
    color: #768399;
    background: #fff;
    background-color: #fff;
}

.profile-panel .profile-stats-info a {
    font-size: 24px;
    margin-right: 10px;
    margin-top: 10px;
    color: #79859b;
}

.profile-panel .user-name {
    margin-top: 10px;
    font-size: 22px;
    margin-bottom: 10px;
}

.profile-panel .profile-avatar img {
    border-radius: 50%;
    border: 1px solid #e7e7e2;
}

.profile-panel .profile-avatar {
    border-radius: 50%;
    padding: 10px;
    border: 1px solid #e7e7e2;
    float: left;
}
  

.profile-panel .profile-image {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
 
.panel.plain .panel-default .panel-heading {
    border: 1px solid #e4e9eb;
    border-bottom: none;
}
.panel.plain .panel-heading {
    border-bottom: none;
}
.panel.panel-default .panel-heading {
    color: #768399;
}

.panel-heading .white-content {
    color: #768399;
    background: #fff;
    background-color: #fff;
}
 .white-content {
    color: #768399;
    background: #fff;
    background-color: #fff;
}
.p-left {
    padding-left: 0!important;
}

.p-right {
    padding-right: 0!important;
}
 #sportscategory_description 
 {
     width:97% !important;
 }

 #storycategory_description
 {
     width:100%;

 }



 .profile-userpic {
  float: none;
  margin: 0 auto;
  
  width: 100%;
    border: 5px solid white;
    outline: 1px solid #dbdee0;
    background-color:white;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}



 



/* Profile Content */




#sideNavigation li > a {
    color: #c31723;
    text-decoration: none;
    padding-left: 10px;
}

    #sideNavigation li {
    position: relative;
    display: block;
    line-height: 2em;
    background-size: cover;
    font-size: 16px;
    border-bottom: ridge 2px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.imageBox {
    position: absolute;
    visibility: hidden;
     
    
}


/*articles*/
  .hero-unit .btn-group {
        background-color: whitesmoke;
    }

    .labelpull {
        left: 110px;
    }

    .userpic {
        border: 1px dashed #b8b8b8;
        width: 202px;
        height: 202px;
        position: relative;
        cursor: pointer;
    }

        .userpic .userpic-wrapper {
            width: 200px;
            height: 200px;
            overflow: hidden;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
        }

        /*details alerts*/
        @import url(http://fonts.googleapis.com/css?family=Roboto);

body,h1,h2 {
  font-family: 'Roboto', sans-serif;
}


.overlay:hover {
opacity: 1;
cursor: pointer;
}
.overlay {
position: absolute;
width: 100%;
height: 100%;
opacity: 0;
transition: all 0.35s ease;
-webkit-transition: all 0.35s ease;
-moz-transition: all 0.35s ease;
-o-transition: all 0.35s ease;
-ms-transition: all 0.35s ease;
border-radius: inherit;
left: 0;
top: 0;
bottom: 0;
right: 0;
}
.overlay {
background-color: rgba(33,154,200,0.75);
}
.logout
{
    background-color: #2a3f54; border-color: #2a3f54; margin: 0px;
}
.logout:hover
{
    background-color: #2a3f54 !important; border-color: #2a3f54; margin: 0px;
} 
.brd_bottom label{
    font-size: 15px !important;
    color: black !important;
}























.graphborder {
        background: #fff;
        padding: 20px;
        border: 1px solid #d0cece;
        transform: translate(24px, 24px);
        margin: 0 35px 0 0px;
    }

        .graphborder:hover {
            border-color: #22bbb3;
            border-width: 2px;
            cursor: pointer;
        }

        .graphborder span {
            color: #00a7cf;
            fill: #00a7cf;
            font-size: 13px;
            font-family: Effra_Std_Rg,Helvetica,Arial,sans-serif;
        }

    .centerline {
        background-color: #d7dada;
        height: 18px;
        width: 2px;
        margin: 0 6px;
        float: left;
    }

    .startspan {
        float: left;
        font-size:15pt !important;
        color:black !important;

    }

    h1 {
        color: #00303b;
        font-family: Campton-BoldDEMO,Helvetica,Arial,sans-serif;
        font-size: 30px;
        font-weight: 500;
    }

    p {
        color: #6e7777;
        font-family: Effra_Std_Rg,Helvetica,Arial,sans-serif;
        font-size: 15px;
    }

    

    .heading {
        float: left;
        fill: #00a7cf;
        color: #00a7cf;
        font-size: 15px;
        line-height: 25px;
    }

    .secondtext {
        color: #00a7cf;
        font-weight: 400;
        line-height: 25px;
    }

    .fa-tachometer {
        font-size: 25px;
        float: left;
        color: #00a7cf;
    }




