﻿@model Models.Confirmpassword

<div class="right_col" role="main" style="background-color:white;">
    <br />
    <br />
    <br />
    <br />


    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading panelcolor">

                <h2><span class="fa fa-unlock-alt"></span>&nbsp;<b>Change Password</b></h2>
            </div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-lg-12 ">

                        @using (Html.BeginForm("Check_Passsword", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="form-group">
                                <label for="email">Old Password</label>
                                @Html.TextBoxFor(m => m.Password, new { @class = "form-control", required = "required", @placeholder = "Old Password" })
                            </div>

                            <div class="form-group">
                                <label for="email">New Password</label>
                                @Html.TextBoxFor(m => m.New_Password, new { @class = "form-control", required = "required", @placeholder = "New Password" })
                            </div>
                            <div class="form-group">
                                <label for="email">Confirm Password</label>
                                <input type="text" name="email" id="email" class="form-control" placeholder="Confirm Password" value="" autocomplete="off" required="">
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
                                        <input type="submit" onclick="return myFunction()" class="form-control btn btn-success" value="Change Password">
                                    </div>
                                </div>
                            </div>
                            <p id="demo"></p>
                        }
                    </div>
                </div>


            </div>
        </div>
       
        </div>
    </div>
 



<script>
    function myFunction() {

        var pass1 = document.getElementById("New_Password").value;
        var pass2 = document.getElementById("email").value;

        if (pass1 != pass2) {
            //alert("Passwords Do not match");
            document.getElementById("New_Password").style.borderColor = "#E34234";
            document.getElementById("email").style.borderColor = "#E34234";

            document.getElementById("demo").innerHTML = "New Password and Confirm password must be same try again !";
            return false;
        }

    }
</script>
