﻿@model Models.Profile_information
@{
    ViewBag.Title = "SuperAdmin";
}

<div class="right_col" role="main" style="background-color:white;">
    <br />
    <br />
    <br />
    <br />

    <div class="container-fluid">

        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading panelPading panelcolor" id="panelbackcolor">
                    &nbsp;<i class="fa fa-user" aria-hidden="true"></i>&nbsp;Edit Profile
                </div>
                @using (Html.BeginForm("Update", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="panel-body">
                        <div class="col-md-6">
                            <div class="register-form">
                                <div class="email col-md-10">
                                    <label for="email">First Name:</label><div class="clear"></div>
                                    @Html.TextBoxFor(m => m.firstname, new { @class = "form-control", @placeholder = "Fisrt Name" ,@required="required" })
                                </div>
                                <div class="email col-md-10">
                                    <label for="email">Email-Id:</label><div class="clear"></div>
                                    @Html.TextBoxFor(m => m.email_id, new { @class = "form-control", @placeholder = "Email-Id", @required = "required" })
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="register-form">

                                <div class="email col-md-10">
                                    <label for="email">Last Name:</label><div class="clear"></div>
                                    @Html.TextBoxFor(m => m.lastname, new { @class = "form-control", @placeholder = "Last Name", @required = "required" })
                                </div>
                                <div class="email col-md-10">
                                    <label for="email">Phone Number:</label><div class="clear"></div>
                                    @Html.TextBoxFor(m => m.phone_no, new { @class = "form-control", @placeholder = "Phone Number", @required = "required" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 " id="register-submit" style="position:relative;top:10px;">

                            <br>
                            <div class="text-center">
                                <input type="submit" value="Update" class="btn btn-primary btn-md ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>


    </div>

</div> 