﻿@model Models.Profile_information
<div class="right_col" role="main" style="background-color:white;">
    <div class="userPhotoBox box_sizing userprofile profileBox">
        <div class="text-center"><img class=" imgpic img-circle" src="http://csharpcorner.mindcrackerinc.netdna-cdn.com/UploadFile/AuthorImage/DefaultAuthorImage.gif"></div>
        <h2 class="userName text-center"> <a id="AuthorNameHeading" class="HeadingBold grayHeading">@Model.firstname</a> </h2>
        <span class="text-center user-text">@Model.created_date</span>
        <div class="bio">
            <div class="form-horizontal">
                <div class="col-md-6">
                    <div class="form-group " style="padding-top:10px;">
                        <label for="name" class="col-lg-5 control-label">
                            First Name :
                        </label>
                        <div class="col-lg-7 control-text">
                            <label class="lbl">
                                @Model.firstname
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="select" class="col-lg-5 control-label">
                            Email-Id :
                        </label>
                        <div class="col-lg-7 control-text">
                            <label class="lbl">
                                @Model.email_id
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" style="padding-top:10px;">
                    <div class="form-group">
                        <label for="contactno" class="col-lg-5 control-label">
                            Last Name :
                        </label>
                        <div class="col-lg-7 control-text">
                            <label class="lbl">
                                @Model.lastname
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="contactno" class="col-lg-5 control-label">
                            Phone Number :
                        </label>
                        <div class="col-lg-7 control-text">
                            <label class="lbl">
                                @Model.phone_no
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />




    </div>




</div>

 