﻿@model Models.Line_Data[]

<script src="~/Scripts/d3_v4.js"></script>
<svg id="BubbleGraph"></svg>
 <script>

     var diameter = 450,
         format = d3.format(",d"),
         color = d3.scaleOrdinal(d3.schemeCategory20c);

     var bubble = d3.pack()
         .size([diameter, diameter])
         .padding(1.5);

     var svg = d3.select("svg#BubbleGraph")
         .attr("width", diameter)
         .attr("height", diameter)
         .attr("class", "bubble");

     var data =
         {
             "name": "flex",
             "children": [
         {
             "name": "physics",
             "children": [
              { "name": "Value : @Model[0].predicted", "size": @Model[0].predicted }
             ]
         },
         {
             "name": "layout",
             "children": [
              { "name": "Value : @Model[1].predicted", "size": @Model[1].predicted }
             ]
         },
         {
             "name": "display",
             "children": [
              { "name": "Value : @Model[2].predicted", "size": @Model[2].predicted }
             ]
         },

             ]
         };

     var root = d3.hierarchy(classes(data))
         .sum(function(d) { return d.value; })
         .sort(function(a, b) { return b.value - a.value; });

     bubble(root);
     var node = svg.selectAll(".node")
         .data(root.children)
       .enter().append("g")
         .attr("class", "node")
         .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });

     node.append("title")
         .text(function(d) { return d.data.className + ": " + format(d.value); });

     node.append("circle")
         .attr("r", function(d) { return d.r; })
         .style("fill", function(d) {
             return color(d.data.packageName);
         });

     node.append("text")
         .attr("dy", ".3em")
         .style("text-anchor", "middle")
         .text(function(d) { return d.data.className.substring(0, d.r / 3); });

     // Returns a flattened hierarchy containing all leaf nodes under the root.
     function classes(root) {
         var classes = [];

         function recurse(name, node) {
             if (node.children) node.children.forEach(function(child) { recurse(node.name, child); });
             else classes.push({packageName: name, className: node.name, value: node.size});
         }

         recurse(null, root);
         return {children: classes};
     }

     d3.select(self.frameElement).style("height", diameter + "px");

    </script>
