﻿@model Models.Line_Data[]
@using Newtonsoft.Json;

@{ 
    Layout = null;
}

<script src="~/Scripts/d3_v4.js"></script>
<svg id="LRChart"></svg>
<script>

    var Line_data = @Html.Raw(JsonConvert.SerializeObject(Model));


        //removing prior svg elements ie clean up svg 
        d3.select('svg#LRChart').selectAll("*").remove();

        //resetting svg height and width in current svg 
        d3.select("svg#LRChart").attr("width", 450).attr("height", 300);

        //Setting up of our svg with proper calculations 
        var svg = d3.select("svg#LRChart");
        var margin = { top: 20, right: 20, bottom: 30, left: 40 };
        var width = svg.attr("width") - margin.left - margin.right;
        var height = svg.attr("height") - margin.top - margin.bottom;

        //Plotting our base area in svg in which chart will be shown 
        var g = svg.append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        //X and Y scaling 
        var x = d3.scaleBand().rangeRound([0, width]).padding(0.4);
        var y = d3.scaleLinear().rangeRound([height, 0]);

        x.domain(Line_data.map(function (d) { return d.bucket; }));
        y.domain([0, d3.max(Line_data, function(d) { return +d.predicted; })+5]);

        //Final Plotting 

        //for x axis 
        g.append("g")
            .call(d3.axisBottom(x))
            .attr("transform", "translate(0," + height + ")");

        //for y axis 
        g.append("g")
            .call(d3.axisLeft(y))
            .append("text").attr("transform", "rotate(-90)").attr("text-anchor", "end");


        /**************** First Path ******************/

        //the line function for path 
        var lineFunction = d3.line()
            .x(function (d) { return x(d.bucket); })
            .y(function (d) { return y(d.actual); })
            .curve(d3.curveLinear);

        //defining the lines
        var path = g.append("path");

        //plotting lines
        path
            .attr("d", lineFunction(Line_data))
            .attr("stroke", "#FFA500")
            .attr("stroke-width", 2)
            .attr("fill", "none")
            .append("circle");


        g.selectAll('.circles1')
          .data(Line_data)
          .enter().append('circle')
          .attr('cx', function (d) {
              return x(d.bucket);
          })
          .attr('cy', function (d) {
              return y(d.actual);
          })
          .attr('r', 6)
          .style("fill", "#FFA500");

        /**************** Second Path *********************/

        //the line function for path 
        var lineFunction = d3.line()
            .x(function (d) { return x(d.bucket); })
            .y(function (d) { return y(d.predicted); })
            .curve(d3.curveLinear);

        //defining the lines
        var path = g.append("path");

        //plotting lines
        path
            .attr("d", lineFunction(Line_data))
            .attr("stroke", "#32CD32")
            .attr("stroke-width", 2)
            .attr("fill", "none")
            .append("circle");


        g.selectAll('.circles2')
          .data(Line_data)
          .enter().append('circle')
          .attr('cx', function (d) {
              return x(d.bucket);
          })
          .attr('cy', function (d) {
              return y(d.predicted);
          })
          .attr('r', 6)
          .style("fill", "#32CD32");

    </script>
 

