﻿@model Models.Dashboard


<script src="~/Scripts/d3_v4.js"></script>
<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    
                    <div class="x_content">
                        <div class="panel panel-default">
                            <div class="panel-heading panelPading panelcolor" id="panelbackcolor">
                                &nbsp;<i class="fa fa-line-chart"></i>&nbsp;Model Efficiency Details
                            </div>
                            <div class="panel-body">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div style="border-bottom: solid 1px #e6e9ed;">
                                            <span style="font-weight:bold;">LR-EFFICIENCY </span>&nbsp;



                                            <div class="pull-right" style="position: relative;top: 30px;">
                                                <small>
                                                    <i class="fa fa-circle" aria-hidden="true" style="color:#FFA500"></i><label>&nbsp;Actual</label><br />
                                                    <i class="fa fa-circle" aria-hidden="true" style="color:#32CD32"></i><label>&nbsp;Predicted</label>
                                                </small>
                                            </div>
                                        </div>

                                        <a href="#CSID">
                                            <div id="LRGraphID">

                                            </div>
                                        </a>



                                    </div>

                                    <div class="col-md-6">


                                        <div style="border-bottom: solid 1px #e6e9ed;">
                                            <span style="font-weight:bold;">NN-EFFICIENCY </span>&nbsp;



                                            <div class="pull-right" style="position: relative;top: 30px;">
                                                <small>
                                                    <i class="fa fa-circle" aria-hidden="true" style="color:#FFA500"></i><label>&nbsp;Actual</label><br />
                                                    <i class="fa fa-circle" aria-hidden="true" style="color:#32CD32"></i><label>&nbsp;Predicted</label>
                                                </small>
                                            </div>
                                        </div>
                                        <a href="#CSID">
                                            <div id="NNGraphID">

                                            </div>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" id="CSID">
                <div class="x_panel">
                    <div class="x_content">
                        <div class="panel panel-default">
                            <div class="panel-heading panelPading panelcolor" id="panelbackcolor">
                                &nbsp;<i class="fa fa-database"></i>&nbsp;Customer Segmentation
                            </div>

                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">

                                        <div class="col-md-12">
                                            <div class="x_content">
                                                <table class="table table-bordered">
                                                    <thead>

                                                        <tr>
                                                            <th class="headeralign" data-sortable="true">
                                                                Variable Category

                                                            </th>
                                                            <th class="headeralign" data-sortable="true">
                                                                Variable
                                                            </th>
                                                            <th class="headeralign" data-sortable="true">B</th>
                                                            <th class="headeralign" data-sortable="true">S.E</th>
                                                            <th class="headeralign" data-sortable="true">Wald</th>
                                                            <th class="headeralign" data-sortable="true">Df</th>
                                                            <th class="headeralign" data-sortable="true">Sig</th>
                                                            <th class="headeralign" data-sortable="true">Exp(B)</th>
                                                        </tr>
                                                        <tr>
                                                            <th class="headeralign" data-sortable="true" rowspan="3">
                                                                Demographic
                                                            </th>
                                                            <td class="headeralign" data-sortable="true">Constant</td>
                                                            <td>3.69</td>
                                                            <td>0.42</td>
                                                            <td>77.089</td>
                                                            <td>1</td>
                                                            <td>0</td>
                                                            <td>0.025</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="headeralign" data-sortable="true">Income</td>
                                                            <td>0.975</td>
                                                            <td>0.484</td>
                                                            <td> 4.054</td>
                                                            <td>1</td>
                                                            <td>0.044</td>
                                                            <td>2.651</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Age Sep'14</td>
                                                            <td>-2.011</td>
                                                            <td>1.057</td>
                                                            <td>2.732</td>
                                                            <td>1</td>
                                                            <td>0.098</td>
                                                            <td>3.273</td>
                                                        </tr>
                                                        <tr>
                                                            <th class="headeralign" data-sortable="true" rowspan="2">Transactional - I</th>
                                                            <td>Frequency</td>
                                                            <td>-2.011</td>
                                                            <td>1.057</td>
                                                            <td>3.951</td>
                                                            <td>1</td>
                                                            <td>0.047</td>
                                                            <td>0.122</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Average Non – Financial Transactions made over last three months</td>
                                                            <td>1.563</td>
                                                            <td>0.88</td>
                                                            <td>3.05</td>
                                                            <td>1</td>
                                                            <td>0.082</td>
                                                            <td>4.646</td>
                                                        </tr>
                                                        <tr>
                                                            <th class="headeralign" data-sortable="true" rowspan="2">Product Affinity</th>
                                                            <td class="headeralign" data-sortable="true">Number of Deposit products taken before Sept’14</td>
                                                            <td>1.038</td>
                                                            <td>0.476</td>
                                                            <td>4.751</td>
                                                            <td>1</td>
                                                            <td>0.029</td>
                                                            <td> 2.822</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Number of Cards product bought before Sept’14</td>
                                                            <td>0.78</td>
                                                            <td>0.47</td>
                                                            <td> 2.758</td>
                                                            <td>1</td>
                                                            <td>0.097</td>
                                                            <td> 2.182</td>
                                                        </tr>
                                                    </thead>

                                                </table>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 
<script src="~/Scripts/jquery.min.js"></script>
<script>
    function Bind_LRGraph() {
        jQuery.ajax({
            url: '@Url.Action("Draw_LRChart", "DataRepresentation")',
            method: "POST",
            cache: false,
            data: {}
        }).done(function (result) {
            if (result != '') {
                $("#LRGraphID").html(result);
            }
            else {
                $("#LRGraphID").html('<h3>Data For this Match is not Found, Please select some other</h3>');
            }
        });
    }
    function Bind_NNGraph() {
        jQuery.ajax({
            url: '@Url.Action("Draw_NNChart", "DataRepresentation")',
            method: "POST",
            cache: false,
            data: {}
        }).done(function (result) {
            if (result != '') {
                $("#NNGraphID").html(result);
            }
            else {
                $("#NNGraphID").html('<h3>Data For this Match is not Found, Please select some other</h3>');
            }
        });
    }
</script>
<script>
    $(document).ready(function () {
        Bind_LRGraph();
        Bind_NNGraph();
    });
</script>
<script>
    $(function () {
        $('a[href*="#CSID"]:not([href="#"])').click(function () {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html, body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
</script>