﻿@model Models.Bubble_Filters

<script src="https://d3js.org/d3.v4.min.js"></script>
<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
             
            <div class="panel panel-default">
                <div class="panel-heading panelPading panelcolor" id="panelbackcolor">
                    &nbsp;<i class="fa fa-pie-chart"></i>&nbsp;
                    Customer Segmentation Details
                    <label class="pull-right">
                        @Html.DropDownListFor(model => model.selected_filter, new SelectList(Model.ofilters), new { @class = "form-control", @type = "dropdown", @onchange = "" })

                    </label>
                    <label class="pull-right">Filter :&nbsp;</label>&nbsp;
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    <div class="pull-right">
                        <small>
                            <i class="fa fa-circle" aria-hidden="true" style="color:rgb(49, 130, 189)"></i><label>&nbsp;High</label><br />
                            <i class="fa fa-circle" aria-hidden="true" style="color:rgb(107, 174, 214)"></i><label>&nbsp;Medium</label><br />
                            <i class="fa fa-circle" aria-hidden="true" style="color:rgb(158, 202, 225)"></i><label>&nbsp;Low</label>
                        </small>
                    </div>
                    <div class="text-center">
                        <div id="Bubble_GraphID">
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<script>
    function Bind_BubbleGraph(Id) {
        jQuery.ajax({
            url: '@Url.Action("Draw_BubbleChart", "DataRepresentation")',
            method: "POST",
            cache: false,
            data: { Id: Id }
        }).done(function (result) {
            if (result != '') {
                $("#Bubble_GraphID").html(result);
            }
            else {
                $("#Bubble_GraphID").html('<h3>Data For this Match is not Found, Please select some other</h3>');
            }
        });
    }
</script>
<script>
    $(document).ready(function () {
        $("#selected_filter").change(function () {
            var strSelected = "";
            var a = $(this).val();

            Bind_BubbleGraph(a);
        });
    });
</script>
<script>
    $(document).ready(function () {
        Bind_BubbleGraph('@Model.ofilters[0]');
    });
</script>