﻿@model List<Models.File1>

@if (Model.Any())
{

    <div class="col-md-12">

        <h2 class="StepTitle">Uploaded Documents</h2>
        <div class="table-responsive">
            <table class="table table-striped table-bordered tablefont">

                <tr>
                    <th>FileName</th>
                    <th>Document Type</th>
                    <th>Action</th>
                </tr>

                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <td style="text-align: center;">
                                @Model[i].FileName.Remove(0,36)
                            </td>
                            <td style="text-align: center;">
                                @Model[i].DocType
                            </td>
                            <td style="text-align: center;">
                                <img id="@Model[i].FileID" class="delUpload" width="20" src="@Url.Content("~/images/delete.png")" />
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>

    </div>
}
else
{
    <h2 class=" text-center StepTitle">No Uploads Found</h2>
}

