﻿@model Models.Campain_insert

<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading panelcolor"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Add a Campaign </div>
                    <div class="panel-body">
                        <div class="x_content">
                            <div class="form_wizard wizard_horizontal">
                                @{Html.RenderAction("CampaignCreationSteps", "Campains", new { StepNo = 0 });}
                            </div>
                            <div class="container">
                                @using (Html.BeginForm("Insert_Campain", "Campains", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    <div class="row">
                                    <div class="col-md-7 col-md-offset-3"style="position: relative; top:25px; right: 25px;">
                                        <div class="panel panel-default card"> 
                                            <div class="card-header clearfix">
                                                <h3 class="card-title">Enter Campaign details</h3>
                                            </div>
                                            <div class="panel-body">

                                                <div class="form-group">
                                                    <label class="label-cus" for="">Campaign Name</label>
                                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @type = "text", @required = "required", @placeholder = "Campaign Name" })
                                                </div>

                                                <div class="form-group">
                                                    <label class="label-cus" for="">Description</label>
                                                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @type = "text", @required = "required", @placeholder = "Description" })
                                                </div>

                                                <div class="form-group">
                                                    <label  class="label-cus"for="">Campaign Type</label>
                                                    </div>

                                                    @for (var i = 0; i <= Model.content.Count - 1; i++)
                                                    {
                                                        <span class="btn btn-default image-preview-input" style="position:relative;top:0px;margin-bottom: 30px;">

                                                            <div class="form-group">

                                                                <div class="radio ">
                                                                    <label>
                                                                        @Html.RadioButtonFor(m => Model.Experiment_type_id, Model.content[i].Id, new { @class = "", style = "margin-top: 0px !important;", @required = "required" })
                                                                        <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                                                                        @Html.Label(Model.content[i].Name, new { style = "padding-left:5px !important;" })
                                                                    </label>
                                                                </div>

                                                            </div>
                                                        </span>
                                                    }




                                                    @Html.HiddenFor(m => m.Id)


                                                </div>
                                        </div>
                                    </div>

                                    </div>
                                    <div class="actionBar">
                                        <div class="msgBox">
                                            <div class="content">
                                            </div>
                                            <a href="#" class="close"></a>
                                        </div>
                                        <a href="#" type="submit" class="buttonPrevious btn btn-primary buttonDisabled">Previous</a>

                                        <button type="submit" class="buttonNext btn btn-success ">Next</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    
</style>
