﻿@model Models.Camapin_Steps

@{ 
    Layout = "";
}
<div class="row">
<div class="col-md-10 col-xs-12 col-md-offset-2">
    <div class="row bs-wizard" style="border-bottom:0;">

        @for (var i = 0; i < Model.otype.Count(); i++)
        {
            if (i == Model.Step)
            {

                <div class="col-xs-2 bs-wizard-step active">
                    <div class="text-center bs-wizard-stepnum">Step @Model.otype[i].Id</div>
                    <div class="progress1"><div class="progress-bar"></div></div>
                    <a href="#" class="bs-wizard-dot"></a>
                    <div class="bs-wizard-info text-center"><br />@Model.otype[i].Name</div>
                </div>
            }
            else if(i <Model.Step)
            {

                <div class="col-xs-2 bs-wizard-step complete">
                    <div class="text-center bs-wizard-stepnum">Step @Model.otype[i].Id</div>
                    <div class="progress1"><div class="progress-bar"></div></div>
                    <a href="#" class="bs-wizard-dot"></a>
                    <div class="bs-wizard-info text-center"><br />@Model.otype[i].Name</div>
                </div>
            }
            else
            {

                <div class="col-xs-2 bs-wizard-step disabled">
                    <div class="text-center bs-wizard-stepnum">Step @Model.otype[i].Id</div>
                    <div class="progress1"><div class="progress-bar"></div></div>
                    <a href="#" class="bs-wizard-dot"></a>
                    <div class="bs-wizard-info text-center"><br />@Model.otype[i].Name</div>
                </div>
            }
        }
    </div>
</div>
</div>