﻿@model Models.Get_Campain_Details

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="right_col" role="main">
    <div class="clearfix"></div>
    <div class="panel panel-default">
        <div class="panel-heading panelPading panelcolor" id="panelbackcolor">
            &nbsp;<i class="fa fa-users"></i>&nbsp;Existing Campaigns
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_content">
                        <div class="table-responsive table-fixed col-md-12" style="overflow-y: hidden;">
                            <table class="tab-score" data-toggle="table" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
                                <thead class="thd">
                                    <tr>
                                        <th class="headeralign" data-sortable="true">Campaign Id</th>
                                        <th class="headeralign" data-sortable="true">Campaign Name</th>
                                        <th class="headeralign" data-sortable="true">Experiment Type</th>
                                        <th class="headeralign" data-sortable="true">Start Date</th>
                                        <th class="headeralign" data-sortable="true">Validation Status</th>
                                        <th class="headeralign" data-sortable="true">View Details</th>
                                        <th class="headeralign" data-sortable="true">Download</th>
                                        <th class="headeralign" data-sortable="true">Score</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (var i = 0; i < Model.content.Count(); i++)
                                    {
                                        <tr>
                                            <td align="center">@Model.content[i].Exp_Id</td>
                                            <td align="center">@Model.content[i].Name</td>
                                            <td align="center">@Model.content[i].Experiment_type</td>
                                            <td align="center">@Convert.ToDateTime(Model.content[i].started_date).ToString("ddMMMyyyy")</td>
                                            <td align="center" style="text-align :center" class="text-center">
                                                @if (Model.content[i].validation_status == "6")
                                                {
                                                    <span class="label label-success" align="center" style="vertical-align:middle;">Success</span>
                                                }
                                                else
                                                {
                                                    <div class="progress1">
                                                        <div class="progress-bar progress-bar-success" style="width: @Math.Round((double.Parse(@Model.content[i].validation_status) * 16.666666667))%;"></div>
                                                    </div>

                                                    <small>
                                                        @string.Concat(string.Format("{0}", Math.Round((double.Parse(@Model.content[i].validation_status) * 16.666666667))), "% Completed")
                                                    </small>

                                                }
                                            </td>
 
                                            <td align="center" style="text-align :center"><a class="btn btn-default btn-xs" href='@Url.Action("Index", "CampainDetails",new { Id=Model.content[i].Id })'>View </a></td>

                                            <td align="center" style="text-align :center"><a class="btn btn-default btn-xs" href='@Url.Action("Get_Campaign_Excel", "Campains",new { Id=Model.content[i].Id })'>Download</a></td>

                                            <td align="center" style="text-align :center"><a class="btn btn-default btn-xs" href='@Url.Action("rescore", "CampainDetails",new { Id=Model.content[i].Id })'>Score</a></td>
  
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="docstatus" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <button type="button" class="close hidden" data-dismiss="modal" aria-hidden="true">×</button>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Campain - Validation Status</h4>
            </div>
            <div class="modal-body">
                <div id="PID"></div>
                <b> Note:-</b><span>&nbsp; We Are Proceesing Validation of Documents, Still some are pending.It may take upto 15 minutes.</span>
            </div>
        </div>
    </div>
</div>
<script>
    function P_Documents_status(Id) {
        jQuery.ajax({
            url: '@Url.Action("Documents_status", "Campains")',
            method: "POST",
            cache: false,
            data: { Id: Id }
        }).done(function (result) {
            $('#PID').html(result);
            $('#docstatus').modal('show');
        });
        //setTimeout(function () {
        //    P_Documents_status(Id);
        //}, 3000);
    }
</script>

