﻿@model Models.Document_Type[]

@section Scripts{
    <script type="text/javascript">

        var isFirstLoad = true;

        document.getElementById('UploadTarget').onload = function () {
            if (isFirstLoad == true) {
                isFirstLoad = false;
            }
            $('#uploadLoader').hide();
            document.getElementById("ImgForm").reset();
            if (!isFirstLoad)
                GetFiles();
        }


        function GetFiles() {
            var url = "/Campains/GetFiles";
            $.get(url, function (response) {
                $('#uploadsContainer').html(response);
            });
        }

        $(document).ready(function () {

            $('body').on('click', 'img.delUpload', function () {
                var Id = this.id;
                var url = "/Campains/DeleteFile";
                url = url + "?id=" + Id
                $.get(url, function (response) {
                    $('#uploadsContainer').html(response);
                });
            });
        });

        $('body').on('change', '.uploadFile', function () {
            $this = $(this);
            $(".uploadFile").each(function () {
                $('#uploadLoader').show();
                $this.parents('form.postfile').submit();
                console.log(iSize + "Mb");
            });
        });
    </script>
}
<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading panelcolor"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Add a Campain </div>
                    <div class="panel-body">
                        <div class="row">
                            @{Html.RenderAction("CampaignCreationSteps", "Campains", new { StepNo = 3 });}
                        </div>
                        <div class="x_content">
                            <div id="wizard" class="form_wizard wizard_horizontal">
                                <div class="container">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                         
                                            <h2 class="StepTitle">Upload Documents</h2>
                                            <div class="row">
                                                @for (var i = 0; i < Model.Count(); i++)
                                                {

                                                    @Html.Hidden("ID", i)

                                                    <form action="/Campains/Upload" method="post" class="postfile" enctype="multipart/form-data" id="ImgForm" name="ImgForm" target="UploadTarget">
                                                        <div class="input-group image-preview">

                                                            <span class="input-group-btn">

                                                                <span class="btn btn-default image-preview-input">
                                                                    <label class="lb text-left">@Model[i].Name</label>
                                                                    <span class="glyphicon glyphicon-folder-open"></span>

                                                                    <span class="image-preview-input-title">Browse</span>

                                                                    <input type="file" class="uploadFile pull-right" name="files" multiple data-val="true" data-val-required="please select a file" />

                                                                </span>

                                                            </span>
                                                        </div><!-- /input-group image-preview [TO HERE]-->
                                                        @Html.Hidden("DOCTYPE", Model[i].Name)

                                                        @Html.Hidden("DOCTYPEID", Model[i].Id)

                                                    </form>

                                                }
                                                <div>
                                                </div>

                                            </div>
                                    

                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">

                                            <div>
                                                <span id="uploadLoader" style="display: none;">
                                                    <img id="searchLoader" src="@Url.Content("~/images/loader.gif")" />Uploading Please Wait
                                                </span>
                                            </div>
                                            <div class="col-md-12" id="uploadsContainer">
                                                @{Html.RenderAction("GetFiles", "Campains");}
                                            </div>
                                            <iframe id="UploadTarget" name="UploadTarget" style="position: absolute; left: -999em; top: -999em;"></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>














                                <div class="actionBar">
                                    <div class="msgBox">
                                        <div class="content">
                                        </div>
                                        <a href="#" class="close">X</a>
                                    </div><div class="loader">Loading</div>
                                    <a href='@Url.Action("step3","Campains")' class="buttonPrevious btn btn-primary">Previous</a>
                                    <a href='@Url.Action("Add_Campaign_Documents","Campains")' class="buttonNext btn btn-success ">Finish</a>
                                </div>
                            </div>
                            <!-- End SmartWizard Content -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    
    .glyphicon {
        position: relative;
        top: -7px;
    }

</style>