﻿@model Models.transaction_data

<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading panelcolor"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Add a Campain </div>
                    <div class="panel-body">
                        @{Html.RenderAction("CampaignCreationSteps", "Campains", new { StepNo = 2 });}

                        @using (Html.BeginForm("Add_transactions", "Campains", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="x_content">
                                <div id="wizard" class="form_wizard wizard_horizontal">
                                    <div class="col-md-12">
                                        <div class="col-xs-12">
                                            @if (Model.osourcelist.Count() > 0)
                                            {
                                            <div class="col-md-6">
                                                <h2 class="StepTitle">Choose Source Type</h2>

                                                @for (var i = 0; i < Model.osourcelist.Count(); i++)
                                                    {
                                                    <div class="col-md-12">
                                                        <div class="col-lg-offset-1 col-md-10">
                                                            <div class="step2 radio">
                                                                <label>

                                                                    @Html.RadioButtonFor(m => Model.source_id, Model.osourcelist[i], new { @class = "", style = "margin-top: 0px !important;", @required = "required" })
                                                                    <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                                                                    @Html.Label(Model.osourcelist[i], new { style = "padding-left:5px !important;" })


                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    }
                                            </div>
                                            <div class="vertical-divider hidden-xs hidden-sm">Convert <br /><br /><br />To</div>
                                            <div class="col-md-6">
                                                <h2 class="StepTitle">Choose Target Type</h2>
                                                @for (var i = 0; i < Model.otargetlist.Count(); i++)
                                                    {
                                                    <div class="col-md-12">
                                                        <div class="col-lg-offset-1 col-md-10">
                                                            <div class="step2 radio">
                                                                <label>

                                                                    @Html.RadioButtonFor(m => Model.target_id, Model.otargetlist[i], new { @class = "", style = "margin-top: 0px !important;", @required = "required" })
                                                                    <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                                                                    @Html.Label(Model.otargetlist[i], new { style = "padding-left:5px !important;" })
                                                                </label>

                                                            </div>
                                                        </div>
                                                    </div>
                                                            }
                                            </div>
                                                    }
                                                    else
                                                    {
                                            <div class="text-center" style="min-height:200px">
                                                <h3 class="mes">No valid Excel files has been selected in Step 2</h3>
                                            </div>
                                                    }

                                        </div>
                                    </div><div class="actionBar">
                                        <div class="msgBox">
                                            <div class="content">
                                            </div>
                                            <a href="#" class="close">X</a>
                                        </div><div class="loader">Loading</div>
                                        <a href='@Url.Action("step2","Campains")' class="buttonPrevious btn btn-primary">Previous</a>
                                        <button type="submit" class="btn btn-success">Next</button>
                                    </div>
                                </div>
                                <!-- End SmartWizard Content -->
                            </div>
                                    @Html.HiddenFor(m => m.Id)
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>

</style>