﻿@model Models.d_graph_data[]
@using Newtonsoft.Json;
@{
    Layout = null;
}
<script src="~/Scripts/d3_v3.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/nvd3/1.1.15-beta/nv.d3.min.js"></script>
<link href="http://cdnjs.cloudflare.com/ajax/libs/nvd3/1.1.15-beta/nv.d3.min.css" rel="stylesheet" />
<div id="pieChart">
    <a id="gType" href="javascript:showBarchat()" class="pull-right btn btn-primary logout btn-sm" style="margin-top: 10px; right: 25px; position: relative">Show BarChat</a>
    <svg></svg>
</div>

<script>
    var h = 600;
    var r = h/2;
    var arc = d3.svg.arc().outerRadius(r);

    var data = @Html.Raw(JsonConvert.SerializeObject(Model));

    //    [
    //    {"label":"Colorectale levermetastase (n=336)", "value":74},
    //    {"label":"Levensmetatase van andere origine (n=32)", "value":7},
    //    {"label":"Beningne levertumor (n=34)", "value":7},
    //    {"label": "Primaire maligne levertumor (n=56)", "value":12}
    //];


    var colors = [
        'rgb(178, 55, 56)',
        'rgb(213, 69, 70)',
        'rgb(230, 125, 126)',
        'rgb(239, 183, 182)'
    ]


    nv.addGraph(function() {
        var chart = nv.models.pieChart()
            .x(function(d) { return d.Product })
            .y(function(d) { return d.Count })
            .color(colors)
            .showLabels(true)
            .labelType("percent")
        //        .donut(true).donutRatio(0) /* Trick to make the labels go inside the chart*/
        ;

        d3.select("#pieChart svg")
            .datum(data)
            .transition().duration(1200)
            .call(chart)
        ;

        d3.selectAll(".nv-label text")
            /* Alter SVG attribute (not CSS attributes) */
            .attr("transform", function(d){
                d.innerRadius = -450;
                d.outerRadius = r;
                return "translate(" + arc.centroid(d) + ")";}
            )
            .attr("text-anchor", "middle")
            /* Alter CSS attributes */
            .style({"font-size": "1em"})
        ;

        /* Replace bullets with blocks */
        d3.selectAll('.nv-series').each(function(d,i) {
            var group = d3.select(this),
                circle = group.select('circle');
            var color = circle.style('fill');
            circle.remove();
            var symbol = group.append('path')
                .attr('d', d3.svg.symbol().type('square'))
                .style('stroke', color)
                .style('fill', color)
                // ADJUST SIZE AND POSITION
                .attr('transform', 'scale(1.5) translate(-2,0)')
        });


        return chart;
    });

</script>
<style>
   #pieChart svg{
  height: 600px;
}
</style>
<div id="gType">1</div>


