﻿@model Models.Dashboard 
 

<script src="~/Scripts/d3_v3.js"></script>
<div class="right_col" role="main">
    <div class="container-fluid">
        <br />
        <div class="col-md-9 dashboard_graph_box  bounceInLeft">
            <div class="panel-heading">
               @if (Model.ocolumn != null && Model.otarget != null)
               {

                <div class="col-md-6">
                    <span>Campaign :</span>&nbsp;

                    @Html.DropDownListFor(model => model.otarget_id, new SelectList(Model.otarget), new { @class = "form-control", @type = "dropdown", @onchange = "" })

                </div>
            <div class="col-md-6">
                <span>Column :</span>&nbsp;

                @Html.DropDownListFor(model => model.ocolumn_id, new SelectList(Model.ocolumn), new { @class = "form-control", @type = "dropdown", @onchange = "" })

            </div>
               }
               else
               {
                   <h2>My Dashboard</h2>
               }
            </div>
            <div id="GraphID">
                <div>
                </div>
            </div>
            

        </div>
        <div class="col-md-3  bounceInRight">

            <div class="col-md-12 main_margin">
                <div class="col-md-12 title_start">
                    <div class="col-md-12 brd_bottom">
                        <label>Total Campaign's &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><br />
                    </div>
                    <div class="col-md-12 brd_pad">
                        <i class="pull-left fa fa-building icon-rounded user1 pull-left"></i><h3>@Model.odetails.Count()</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-12 main_margin">
                <div class="col-md-12 title_start">
                    <div class="col-md-12 brd_bottom">
                        <label>Processing Campaign's</label><br />
                    </div>
                    <div class="col-md-12 brd_pad">
                        <i class="pull-left fa fa-file-text icon-rounded user3"></i><h3>@Model.odetails.Count(m => m.validation_status == "1")</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-12 main_margin">
                <div class="col-md-12 title_start">
                    <div class="col-md-12 brd_bottom">
                        <label>Rejected Campaign's &nbsp;</label><br />
                    </div>
                    <div class="col-md-12 brd_pad">
                        <i class="pull-left fa fa-file-text icon-rounded user4"></i><h3>@Model.odetails.Count(m => m.validation_status == "0")</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-12 main_margin">
                <div class="col-md-12 title_start">
                    <div class="col-md-12 brd_bottom">
                        <label>Completed Campaign's &nbsp;</label><br />
                    </div>
                    <div class="col-md-12 brd_pad">
                        <i class="pull-left fa fa-file-text icon-rounded user4"></i><h3>@Model.odetails.Count(m => m.validation_status == "0")</h3>
                    </div>
                </div>
            </div>

        </div>
        
        </div>
    </div>
<style>
     
</style>
<script src="~/Scripts/jquery.min.js"></script>
<script>
        function Bind_Graph(column,target,type) {
            jQuery.ajax({
                url: '@Url.Action("DrawChart", "Dashboard")',
                method: "POST",
                cache: false,
                data: { column: column, target: target, type: type }
            }).done(function (result) {
                if (result != '') {
                    $("#GraphID").html(result);
                }
                else {
                    $("#GraphID").html('<h3>Data For this Match is not Found, Please select some other</h3>');
                }
            });
        }
    function showBarchat() {
        var a = jQuery("#otarget_id option:selected").val();
        var b = jQuery("#ocolumn_id option:selected").val();
        var c = document.getElementById('gType').innerHTML;
        Bind_Graph(b, a, 1);  
    }
    function showPiechat() {
        var a = jQuery("#otarget_id option:selected").val();
        var b = jQuery("#ocolumn_id option:selected").val();
        var c = document.getElementById('gType').innerHTML;
        Bind_Graph(b, a, 2);
    }
</script>
<script>
    $(document).ready(function () {
        $("#otarget_id").change(function () {
            var strSelected = "";
            var a = $(this).val();
            var b = jQuery("#ocolumn_id option:selected").val();
            var c = document.getElementById('gType').innerHTML;
            if (c == 'Show BarChat') {
                Bind_Graph(b, a,2);
            }
            else {
                Bind_Graph(b, a,1);
            }
        });
    });
    $(document).ready(function () {
        $("#ocolumn_id").change(function () {
            var strSelected = "";
            var a = $(this).val();
            var b = jQuery("#otarget_id option:selected").val();
            var c = document.getElementById('gType').innerHTML;
            if (c == 'Show BarChat') {
                Bind_Graph(a, b, 2);
            }
            else {
                Bind_Graph(a, b, 1);
            }
        });
    });
</script>
@if (Model.ocolumn != null && Model.otarget != null)
{
<script>

    $(document).ready(function () {
        Bind_Graph('@Model.ocolumn[0]', '@Model.otarget[0]',2);
    });
</script>
}
 
<style>
    g>text{
        color:blue;
    }
</style>