﻿@model string

@using Newtonsoft.Json;
 <script src="http://code.highcharts.com/highcharts-more.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
 
<div id="venn" class="col-md-offset-1"></div>




<div id="venn">
     
</div>
<script src="~/Scripts/venn.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>

<script>



    //var sets = [
    //            { "sets": ["Information"], "size": 50 },
    //            { "sets": ["Things That Overlap"], "size": 20 },
    //            { "sets": ["Circles"], "size": 15 },
    //             { "sets": ["test"], "size": 50 },
    //             { "sets": ["test1"], "size": 5 },
    //             { "sets": ["test2"], "size": 5 },
    //            { "sets": ["Information", "test"], "size": 4, label: "Redundancy" },
    //           { "sets": ["Information", "Circles"], "size": 4, label: "Pie Charts", },
    //           { "sets": ["test", "Circles"], "size": 4, label: "Eclipses" },
    //           { "sets": [ "Things That Overlap", "Circles","test"], "size": 4, label: "Venn Diagrams" },

    //];


    var sets = @Html.Raw(Model); 





    var chart = venn.VennDiagram()
    chart.wrap(false)
    .width(640)
    .height(640);

    var div = d3.select("#venn").datum(sets).call(chart);
    div.selectAll("text").style("fill", "white");
    div.selectAll(".venn-circle path").style("fill-opacity", .6);

</script>

 