﻿ @model Models.Product_Purchaselist

<script src="~/Scripts/d3_v3.js"></script>
<div class="right_col" role="main">
    <br />
    <br />
    <br />

    <div class="container-fluid">
        <div class="graphborder">

            <span class="startspan"><i class="fa fa-clock-o"></i> Product Overlapping</span>

            <div class="row">
                <div class="col-md-12 panel-body">

                   
                        @if (Model.content != null)
                        {
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <span>Campaign :</span>&nbsp;
                                        @Html.DropDownListFor(model => model.Campain_id, new SelectList(Model.content, "Campain_id", "Campain_name"), new { @class = "form-control", @type = "dropdown" })

                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <h2>nothing to show</h2>
                        }
                
                    <div id="GraphID">
                        <div>
                        </div>
                    </div>
                   

                </div>
            </div>
        </div>

        

    </div>
</div>

<script src="~/Scripts/jquery.min.js"></script>
<script>
    function Bind_Graph(campain) {
        jQuery.ajax({
            url: '@Url.Action("Drawproduct_overlap", "Dashboard")',
            method: "POST",
            cache: false,
            data: { campain: campain }
        }).done(function (result) {
            if (result != '') {
                $("#GraphID").html(result);
            }
            else {
                $("#GraphID").html('<h3>Data For this Match is not Found, Please select some other</h3>');
            }
        });
    }
    function showBarchat() {
     
        var a = jQuery("#Campain_id option:selected").val(); 
        Bind_Graph(a);
    }

</script> 

<script>
    $(document).ready(function () {
        $("#Campain_id").change(function () {
            var strSelected = "";
            var a = $(this).val();
            Bind_Graph(a);
        });
    });

    </script>
@if (Model.content != null && Model.product_list != null)
{
    <script>


        $(document).ready(function () {
            showBarchat();
        });
    </script>
}
