﻿@{ViewBag.Title = "SuperAdmin";
Layout = "~/Views/Shared/_Super_admin_layout.cshtml";
} 
@model Models.Create_Experiment_Type
<div class="right_col" role="main">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><i class="fa fa-flask" aria-hidden="true"></i>&nbsp;Experiment List</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content"> 
                    <div class="table-responsive table-fixed col-md-12" style="overflow-y: hidden;">
                        <table class="tab-score" data-toggle="table" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
                            <thead class="thd">
                                <tr>
                                    <th class="headeralign" data-sortable="true"> Name</th>
                                    <th class="headeralign" data-sortable="true">Description</th>

                                    <th class="headeralign" data-sortable="true">Status</th>
                                    <th class="headeralign" data-sortable="true">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var item in Model.content)
                                { 
                                <tr>
                                    <td align="center">@item.Name</td>
                                    <td align="center">@item.Description</td>
                                    <td align="center" style="text-align :center" class="text-center">
                                        <span class="label label-success" align="center" style="vertical-align:middle;">Successful</span>
                                    </td>
                                    <td align="center" style="text-align :center">
                                        <a href="@Url.Action("Delete_experiment", "Experiment", new { Id = item.Id })" class="btn btn-danger  btn-xs buttoncolor">Delete</a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div> 
    </div>
       
