﻿@model Models.Product_Purchaselist

<script src="~/Scripts/d3_v3.js"></script>
<div class="right_col" role="main">
    <br />
    <br />
<br />

    <div class="container-fluid">
         
        <div class="graphborder">

            <span class="startspan"><i class="fa fa-clock-o"></i>&nbsp;Chronology / Life Cycle</span>

            <div class="row">
                <div class="col-md-12">


                
                        @if (Model.content != null && Model.product_list != null)
                        {

                            <div class="col-md-6">
                                <span>Campaign :</span>&nbsp;
                                @Html.DropDownListFor(model => model.Campain_id, new SelectList(Model.content, "Campain_id", "Campain_name"), new { @class = "form-control", @type = "dropdown" })

                            </div>
                            <div class="col-md-6">
                                <span>Product type :</span>&nbsp;

                                @Html.DropDownListFor(model => model.product_name, new SelectList(Model.product_list, "name", "name"), new { @class = "form-control", @type = "dropdown" })

                            </div>
                        }
                        else
                        {
                            <h2>nothing to show</h2>
                        }
             
                    <div id="GraphID">
                        <div>
                        </div>
                    </div>


                </div>
            </div>
        </div>


    </div>
</div>

<script src="~/Scripts/jquery.min.js"></script>
<script>
    function Bind_Graph(campain, product) {
        jQuery.ajax({
            url: '@Url.Action("DrawChart", "Product_Purchase")',
            method: "POST",
            cache: false,
            data: { campain: campain, product: product }
        }).done(function (result) {
            if (result != '') {
                $("#GraphID").html(result);
            }
            else {
                $("#GraphID").html('<h3>Data For this Match is not Found, Please select some other</h3>');
            }
        });
    }
    function showBarchat() {
        var a = jQuery("#Campain_id option:selected").val();
        var b = jQuery("#product_name option:selected").val();
        Bind_Graph(b, a);
    }

</script>
<script>
    $(document).ready(function () {
        $("#Campain_id").change(function () {
            var strSelected = "";
            var a = $(this).val();
            var b = jQuery("#product_name option:selected").val();
            Bind_Graph(b, a);

        });
    });
    $(document).ready(function () {
        $("#product_name").change(function () {
            var strSelected = "";
            var a = $(this).val();
            var b = jQuery("#Campain_id option:selected").val();
            Bind_Graph(a, b);
        });
    });
</script>
@if (Model.content != null && Model.product_list != null)
{
    <script>

        $(document).ready(function () {
            showBarchat();
        });
    </script>
}
