﻿@model Models.department

@{
    ViewBag.Title = "SuperAdmin";
    Layout = "~/Views/Shared/_Super_admin_layout.cshtml";
}

<div class="right_col" role="main">
    <div class="container-fluid">
        <br />
        <br />
        <br />
        <br />
        @using (Html.BeginForm("Create_Department", "Department", FormMethod.Post, new { enctype = "multipart/form-data" }))
        { 
            
            
        <div class="panel pbody">

            <div class="form-title">
              <h4>  <i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;&nbsp;add department</h4>
            </div>
            <div class="panel-body ">
                <div class="row">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Name</label>
                        <div class="col-md-8">
                            <div class="form-group">

                                @Html.TextBoxFor(m => m.name, new { @class = "form-control txtbox", @placeholder = "Name", @required = "required" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Description</label>
                        <div class="col-md-8">

                            @Html.TextAreaFor(m => m.details, new { @class = "form-control", @rows = "3", @placeholder = "Description", @required = "required" })

                        </div>
                    </div>
                </div>
                <div class="form-group  col-md-12" style="position:relative;top: 13px;">
                    <span class="text-center col-md-4 col-md-offset-4">
                        <button class="btn  btn-submit btn-block btn-md" type="submit">Create Department</button>
                    </span>
                </div>
            </div>

        </div>
        }
            
    </div>
</div>
 