﻿@{ViewBag.Title = "SuperAdmin";
    Layout = "~/Views/Shared/_Super_admin_layout.cshtml";
}
@model Models.Departments_data
<div class="right_col" role="main">
    <div class="container-fluid">
        <br />
        <br />
        <br />
        <br />

        @using (Html.BeginForm("add_admin", "Create_Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
              
        <div class="panel pbody">

            <div class="form-title">
              <h4>  <i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;&nbsp;Add User</h4>
            </div>
            <div class="panel-body ">
                <div class="row">
                    <div class="form-group">
                        <label class="col-md-2 control-label">User Id</label>
                        <div class="col-md-8">
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.admin_create.user_id, new { @class = "form-control", @placeholder = "User Name", @required = "required" })
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Password</label>
                        <div class="col-md-8">
                            @Html.PasswordFor(m => m.admin_create.password, new { @class = "form-control", @placeholder = "Password", @required = "required",style= "margin-bottom: 10px;" })
                         
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Department</label>
                        <div class="col-md-8">
                            @Html.DropDownListFor(m => m.admin_create.department_id, new SelectList(Model.content, "Id", "name", Model.content), new { @placeholder = "Select department", @class = "form-control" })

                        </div>
                    </div>
                </div>
                <div class="form-group  col-md-12" style="position:relative;top: 13px;">
                    <span class="text-center col-md-4 col-md-offset-4">
                        <button class="btn  btn-submit btn-block btn-md" type="submit">Create User</button>
                    </span>
                </div>
            </div>

        </div>
            
        }
    </div>
</div>

<style>
    .header-line {
        position: relative;
        font-size: 1.2em;
    }
</style>
