﻿@{ViewBag.Title = "SuperAdmin";
Layout = "~/Views/Shared/_Super_admin_layout.cshtml";
}
@model Models.Departments_data
<div class="right_col" role="main">
    <div class="clearfix"></div>
    <div class="panel panel-default">
        <div class="panel-heading panelPading panelcolor" id="panelbackcolor">
            &nbsp;<i class="fa fa-users"></i>&nbsp;Departments
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_content">
                        <div class="table-responsive table-fixed col-md-12" style="overflow-y: hidden;">
                            <table class="tab-score" data-toggle="table" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
                                <thead class="thd">
                                    <tr>
                                        <th class="headeralign" data-sortable="true"> User Id</th>
                                        <th class="headeralign" data-sortable="true">Description</th>

                                        <th class="headeralign" data-sortable="true">Status</th>
                                        <th class="headeralign" data-sortable="true">UserInformation</th>
                                        <th class="headeralign" data-sortable="true">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.content)
                                    {

                                        <tr>
                                            <td align="center">@item.name</td>
                                            <td align="center">@item.details</td>
                                            <td align="center" style="text-align :center" class="text-center">
                                                <span class="label label-success" align="center" style="vertical-align:middle;">Successful</span>
                                            </td>
                                            <td align="center">
                                                <button class="btn btn-default  btn-xs buttoncolor" onclick="parent.location = '@Url.Action("View_users", "Create_Admin", new { Id = item.Id })'">View</button>
                                            </td>
                                            <td align="center" style="text-align :center">
                                                <a class="btn btn-default btn-xs" href='#'> Block</a>
                                            </td>
                                            
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
