﻿@model Models.Campaign_Validation_Stage

@{
    Layout = "";
}
<div class="panel-group">
    <div class="row bs-wizard" style="border-bottom:0;">
        @for (var i = 0; i < Model.ostatus.Count(); i++)
        {
            if (i + 1 == Model.stage)
            {
                    <div class="col-xs-2 bs-wizard-step tiptext active" data-placement="bottom">
                        <div class="text-center bs-wizard-stepnum">Step @Model.ostatus[i].Id</div>
                        <div class="progress1"><div class="progress-bar"></div></div>
                        @if (Model.IsFailure == false)
                        {
                        <a href="#" class="bs-wizard-dot blink_me"></a>
                        }
                        else
                        {
                        <a href="#" class="bs-wizard-dot blink_me" style="background-color:red"></a>
                        }
                        <div class="bs-wizard-info text-center"><br />@Model.ostatus[i].Name</div>
                        @if (Model.IsFailure == true)
                        {
                            <div class="description bounce">
                                <div class="col-md-12">
                                    <div class="arrow"></div>
                                    <span>@Model.validation_message</span><br />
                                </div>
                            </div>
                        }
                    </div>
            }
            else if (i + 1 < Model.stage)
            {
                    <div class="col-xs-2 bs-wizard-step complete" data-placement="bottom">
                        <div class="text-center bs-wizard-stepnum">Step @Model.ostatus[i].Id</div>
                        <div class="progress1"><div class="progress-bar"></div></div>
                        <a href="#" class="bs-wizard-dot"></a>
                        <div class="bs-wizard-info text-center"><br />@Model.ostatus[i].Name</div>
                    </div>
            }
            else
            {
                <div class="col-xs-2 bs-wizard-step disabled" data-placement="bottom">
                    <div class="text-center bs-wizard-stepnum">Step @Model.ostatus[i].Id</div>
                    <div class="progress1"><div class="progress-bar"></div></div>
                    <a href="#" class="bs-wizard-dot"></a>
                    <div class="bs-wizard-info text-center"><br />@Model.ostatus[i].Name</div>
                </div>
            }
        }

    </div>
</div>
 

<script>
    $(".tiptext").mouseover(function () {
        $(this).children(".description").show();
    }).mouseout(function () {
        $(this).children(".description").hide();
    });

</script>
