﻿@model Models.Campain_Complete_Details
<script src="~/Scripts/d3_v3.js"></script> >
<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="container">
                    <div class="panel panel-default">
                        <div class="panel-heading panel-clr">
                            <h4>
                                <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;Campaign Details
                                <br />
                            </h4>

                        </div>
                        <div class="panel-body">
                            @if (Model.Validation_stage != "3" || Model.Is_Scoring == false)
                            {
                                <h4>
                                    Campaign Validation Status

                                    <small>- We Are Proceesing Validation of Documents, Still some are pending.It may take upto 15 minutes.</small>

                                </h4>
                                <div class="row">
                                    <div id="SID"></div>
                                </div>
                            }

                            <div class="col-md-12 item-ingred" style="padding:15px;">
                                @if (Model.Validation_stage == "3" && Model.Is_Scoring == true && Model.Category_List != null && Model.Category_List.Count() > 0)
                                {

                                <div class="col-md-5">
                                    <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;<strong>Campain Details:</strong>
                                    <ul>
                                        <li>&nbsp;<strong>Campaign Name :</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.Name</li>
                                        <li>&nbsp;<strong>Campaign Type :</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.Experiment_type</li>
                                        <li>&nbsp;<strong>Source Type :</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.Source_Type</li>
                                        <li>&nbsp;<strong>Destination Type :</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.Destination_Type</li>
                                        <li>&nbsp;<strong>Description :</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.Description</li>
                                    </ul>
                                    <br />
                                    <i class="fa fa-download" aria-hidden="true"></i>&nbsp; <strong>Download Modeling Documents:</strong>

                                    <ul>
                                        <li><a href="@Url.Action("Get_cross_sell", "CampainDetails", new { campaign_id = Model.Id })">Cross sell</a></li>
                                        <li><a href="@Url.Action("Get_summary_stat", "CampainDetails", new { campaign_id = Model.Id })">Summary statistics</a></li>
                                        <li><a href="@Url.Action("Get_Campaign_Excel", "Campains", new { campaign_id = Model.Id })">Customer Scoring Predection</a></li>
                                    </ul>

                                </div>
                                <div class="col-md-7">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;<strong>Scoring Summary View:</strong>
                                    <div class="pull-right">
                                        <small>
                                            <label class="pull-right" style="margin-top: -6px;">
                                                @Html.DropDownListFor(model => model.Name, new SelectList(Model.Category_List), new { @class = "form-control", @type = "dropdown", @onchange = "" })
                                            </label>

                                        </small>

                                    </div>
                                    <div class="col-xs-offset-2"> 
                                            <div class="verticaltext_content "> 
                                            </div>
                                        <div class="ver"><h3>Vertical Text</h3></div>
                                      <p id="demo"></p>
                                        <div id="GraphID">
                                            <div>
                                            </div>
                                        </div>
                                        <div class="verticaltext">
                                            <div class="verticaltext_content1">
                                                Bin value <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                                }
                                else
                                {

                                <div class="col-md-6">
                                    <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;<strong>Campaign Details:</strong>
                                    <ul>
                                        <li>&nbsp;<strong>Campaign Name :</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.Name</li>
                                        <li>&nbsp;<strong>Campaign Type :</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.Experiment_type</li>
                                        <li>&nbsp;<strong>Source Type :</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.Source_Type</li>
                                        <li>&nbsp;<strong>Destination Type :</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.Destination_Type</li>
                                        <li>&nbsp;<strong>Description :</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.Description</li>
                                    </ul>
                                </div>

                                <div class="col-md-6">
                                    <i class="fa fa-download" aria-hidden="true"></i>&nbsp; <strong>Download Modeling Documents:</strong>

                                    <ul>
                                        <li><a href="@Url.Action("Get_cross_sell", "CampainDetails", new { campaign_id = Model.Id })">Cross sell</a></li>
                                        <li><a href="@Url.Action("Get_summary_stat", "CampainDetails", new { campaign_id = Model.Id })">Summary statistics</a></li>
                                        <li><a href="@Url.Action("Get_Campaign_Excel", "Campains", new { campaign_id = Model.Id })">Customer Scoring Predection</a></li>
                                    </ul>
                                </div>
                                }
                            </div>

                            <div class="col-md-12 item-ingred"  style="padding:15px;">
                                <div class="block-heading-two">

                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;<strong>Download Scoring Documents:</strong>

                                </div>
                                <br />
                                <div style="position:relative;top:10px;">
                                    <div class="col-md-4">
                                        <i class="fa fa-download" aria-hidden="true"></i>&nbsp; <strong>Scored on @Convert.ToDateTime("2017-01-27 18:13:04.700").ToString("dd MMM yyyy hh:mm")</strong>

                                        <ul>
                                            <li><a href="@Url.Action("Get_cross_sell", "CampainDetails", new { campaign_id = Model.Id })">Cross sell</a></li>
                                            <li><a href="@Url.Action("Get_summary_stat", "CampainDetails", new { campaign_id = Model.Id })">Summary statistics</a></li>
                                            <li><a href="@Url.Action("Get_Campaign_Excel", "Campains", new { campaign_id = Model.Id })">Customer Scoring Prediction</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <i class="fa fa-download" aria-hidden="true"></i>&nbsp; <strong>Scored on @Convert.ToDateTime("2017-01-28 18:13:04.700").ToString("dd MMM yyyy hh:mm")</strong>

                                        <ul>
                                            <li><a href="@Url.Action("Get_cross_sell", "CampainDetails", new { campaign_id = Model.Id })">Cross sell</a></li>
                                            <li><a href="@Url.Action("Get_summary_stat", "CampainDetails", new { campaign_id = Model.Id })">Summary statistics</a></li>
                                            <li><a href="@Url.Action("Get_Campaign_Excel", "Campains", new { campaign_id = Model.Id })">Customer Scoring Prediction</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <i class="fa fa-download" aria-hidden="true"></i>&nbsp; <strong>Scored on @Convert.ToDateTime("2017-01-29 18:13:04.700").ToString("dd MMM yyyy hh:mm")</strong>

                                        <ul>
                                            <li><a href="@Url.Action("Get_cross_sell", "CampainDetails", new { campaign_id = Model.Id })">Cross sell</a></li>
                                            <li><a href="@Url.Action("Get_summary_stat", "CampainDetails", new { campaign_id = Model.Id })">Summary statistics</a></li>
                                            <li><a href="@Url.Action("Get_Campaign_Excel", "Campains", new { campaign_id = Model.Id })">Customer Scoring Prediction</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <i class="fa fa-download" aria-hidden="true"></i>&nbsp; <strong>Scored on @Convert.ToDateTime("2017-01-30 18:13:04.700").ToString("dd MMM yyyy hh:mm")</strong>

                                        <ul>
                                            <li><a href="@Url.Action("Get_cross_sell", "CampainDetails", new { campaign_id = Model.Id })">Cross sell</a></li>
                                            <li><a href="@Url.Action("Get_summary_stat", "CampainDetails", new { campaign_id = Model.Id })">Summary statistics</a></li>
                                            <li><a href="@Url.Action("Get_Campaign_Excel", "Campains", new { campaign_id = Model.Id })">Customer Scoring Prediction</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 item-ingred" style="padding:15px;">
                                <div class="block-heading-two">

                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;<strong>Uploaded Documents:</strong>
                                </div>
                                <div style="position:relative;top:10px;">
                                    <div class="col-md-6">
                                        <h4>Modeling Documents</h4>
                                        @for (int i = 0; i < Model.Documents_List.Count(); i++)
                                        {
                                            if (@Model.Documents_List[i].type == null)
                                            {
                                                <p class="doc"> <b>@(i + 1)</b>&nbsp;&nbsp;@Model.Documents_List[i].name.Remove(0, 36)</p>
                                            }
                                        }
                                    </div>
                                    <div class="col-md-6">
                                        <h4>Scoring Documents</h4>
                                        @for (int i = 0; i < Model.Documents_List.Count(); i++)
                                        {
                                            if (@Model.Documents_List[i].type != null)
                                            {
                                                <p class="doc"> <b>@(i + 1)</b>&nbsp;&nbsp;@Model.Documents_List[i].name.Remove(0, 36)</p>
                                            }
                                        }
                                    </div>
                                </div>

                            </div>


                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
 
<script>
    $(document).ready(function () {
        P_Documents_status();
    });
    function P_Documents_status() {
        jQuery.ajax({
            url: '@Url.Action("Campaign_Validation_Stage", "CampainDetails")',
            method: "POST",
            cache: false,
            data: { campaign_id: '@Model.Id' }
        }).done(function (result) {
            $('#SID').html(result);
        });
        setTimeout(function () {
            P_Documents_status();
        }, 3000);
    }
</script>



<script type="text/javascript">
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip({
            placement: 'top'
        });
    });
</script>
<style type="text/css">
    .bs-example {
        margin: 100px 50px;
    }
</style>


<script src="~/Scripts/jquery.min.js"></script>
<script>
    function Bind_Graph(category) {
        jQuery.ajax({
            url: '@Url.Action("DrawChart", "CampainDetails")',
            method: "POST",
            cache: false,
            data: { Id: '@Model.Id', category: category }
        }).done(function (result) {
            if (result != '') {
                $("#GraphID").html(result);
            }
            else {
                $("#GraphID").html('<h3>Data For this Match is not Found, Please select some other</h3>');
            }
        });
    }
</script>
<script>
    $(document).ready(function () {
        $("#Name").change(function () {
            var strSelected = "";
            var a = $(this).val();
         
            Bind_Graph(a);
        });
    });
</script>
@if (Model.Category_List != null && Model.Category_List.Count() > 0 && Model.Validation_stage == "3" && Model.Is_Scoring == true)
{
    <script>
        $(document).ready(function () {
            Bind_Graph('@Model.Category_List[0]');
        });
    </script>
}
<style>
    .dashboard_graph_box {
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
        -moz-box-shadow: 0 1px 1px rgba(0,0,0,.05);
        border: 1px solid #E7E7E8;
        padding: 1em 1em;
        background: #fff;
    }
</style>
<style>

    .ver {
        -ms-transform: rotate(270deg); /* IE 9 */
        -moz-transform: rotate(270deg); /* Firefox */
        -webkit-transform: rotate(270deg); /* Safari and Chrome */
        -o-transform: rotate(270deg); /* Opera */
        position: relative;
        color: #2a3f54;
        font-size: 16px;
        font-weight: bold;
        width: 150px;
        height: 50px;
        right: 107px;
        top: 148px;
    }
    .description {
        display: none;
        background: #ffffff;
        box-shadow: 0 0 4px #888888;
        position: absolute;
        padding: 8px;
        border: solid 1px #2a3f54;
        left: 12px;
        z-index: 1000;
        border-radius: 5px;
    }


        .description:after {
            z-index: -1;
            position: absolute;
            top: -10px;
            left: 50%;
            margin-left: -10px;
            content: '';
            width: 0;
            height: 0;
            border-bottom: solid 10px #659EC7;
            border-left: solid 10px transparent;
            border-right: solid 10px transparent;
        }
</style>

 


<script>
    $(document).ready(function () {
        $("#Name").change(function () {
             var selectedval = $("#Name").val();
           
            $('.ver ').text(selectedval);
        });
    });
</script>

@*<script>
$(document).ready(function() {
    alert($("#Name").val());
    var a = ($("#Name").val());

    $('.ver ').text(a);
});
    </script>*@