﻿ 
@{
    ViewBag.Title = "SuperAdmin";
    Layout = "~/Views/Shared/_Super_admin_layout.cshtml";
}

<div class="right_col" role="main">
    <div class="container-fluid">
        <br />
        <div class="">
            <div class="row top_tiles">
                 <div class="row tile_count">

                    <div class="col-md-3 main_margin">
                        <div class="col-md-12 title_start">
                            <div class="col-md-12 brd_bottom">
                                <label>Total Campains &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><br />
                                <span class="count_bottom"><small><i class="green">4% </i> From last Week</small></span>
                            </div>
                            <div class="col-md-12 brd_pad">
                                <i class="pull-left fa fa-building icon-rounded user1 pull-left"></i><h3>550</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 main_margin">
                        <div class="col-md-12 title_start">
                            <div class="col-md-12 brd_bottom">
                                <label>Uploaded Documents</label><br />
                                <span class="count_bottom"><small><i class="green">3% </i> From last Week</small></span>
                            </div>
                            <div class="col-md-12 brd_pad">
                                <i class="pull-left fa fa-file-text icon-rounded user2"></i><h3>250</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 main_margin">
                        <div class="col-md-12 title_start">
                            <div class="col-md-12 brd_bottom">
                                <label>Approved Documents</label><br />
                                <span class="count_bottom"><small><i class="green">34% </i> From last Week</small></span>
                            </div>
                            <div class="col-md-12 brd_pad">
                                <i class="pull-left fa fa-file-text icon-rounded user3"></i><h3>117</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 main_margin">
                        <div class="col-md-12 title_start">
                            <div class="col-md-12 brd_bottom">
                                <label>Rejected Documents &nbsp;</label><br />
                                <span class="count_bottom"><small><i class="green">12% </i> From last Week</small></span>
                            </div>
                            <div class="col-md-12 brd_pad">
                                <i class="pull-left fa fa-file-text icon-rounded user4"></i><h3>315</h3>
                            </div>
                        </div>
                    </div>

                </div>
         

</div>
        </div>
         
    </div>
    
        <div class="col-md-6">
            
        </div>
    
</div>

<style>
    .btn-primary.active {
        background-color: #096d58 !important;
        border-color: #0a9e7f !important;
    }

    .upsell {
        background-color: #2cd0ad;
        border-color: #2cd0ad;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }

        .upsell:hover {
            background-color: #096d58;
            border-color: #096d58;
        }

    .crosssell {
        background-color: #25e0b9 !important;
        border-color: #25e0b9 !important;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

        .crosssell:hover {
            background-color: #096d58 !important;
            border-color: #096d58 !important;
        }

    .title_start {
        border: 1px solid #ededed;
        box-shadow: 1px 2px 5px #c7c3c3;
        background-color: white;
    }

    .brd_bottom {
        border-bottom: 2px solid #eee;
        width: 100%;
        top: 5px;
    }

    .brd_pad {
        padding: 10px;
        width: 100%;
    }

        .brd_pad h3 {
            margin-top: 25px;
            margin-left: 60px;
            float: left;
        }

    .main_margin {
        margin: 6px 0;
    }



    .icon-rounded {
        background-color: #9358ac;
        color: #ffffff;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -o-border-radius: 50px;
        -ms-border-radius: 50px;
        font-size: 25px;
        padding: 25px;
    }

    .user1 {
        background: #ef553a;
    }

    .user2 {
        background: #3b5998;
    }

    .user3 {
        background: #00aced;
    }

    .user3 {
        background: #00aced;
    }
</style>


 
     