﻿ @model Models.Login
@{
    Layout = null; 
} 

 
<link href="~/Content/animate.min.css" rel="stylesheet" />
 
<link href="~/Content/login.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

     <div class="item">
    @if (TempData["Message"] != null)
    {
        <div class=" col-md-4 pull-right slideUp dismis alert alert-warning">
            <span class="close" data-dismiss="alert">&times;</span>
            <strong></strong>@TempData["Message"]
        </div>
    }
<div class="container">
    <div class="item">
    </div>
    <div class="item">
        <div class="logo"><h2 style="margin: 0;">Admin Login</h2></div>
        <div class="login-item ">
            @using (Html.BeginForm("AdminLogin", "Home", FormMethod.Post, new { @class = "form form-login" }))
            {
                <div class="form-field">
                    <label class="user" for="login-username"></label>
                    @Html.TextBoxFor(m => m.User_Id, new { @class = "form-input has-feedback-left", @placeholder = "User Id" })

                </div>
                <div class="form-field">
                    <label class="lock" for="login-password"></label>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-input has-feedback-left", @placeholder = "Password" })
                </div>

                <div class="form-field">
                    <input type="submit" value="Log in" name="submit">
                </div>
                <div>
                    <h3> Data Semantics Pvt Ltd</h3>
                    <p class="text-center">©DSPL, 2016. All Rights Reserved.</p>
                </div>
            }
        </div>
    </div>

</div>
</div>
 <script src="~/Scripts/bootstrap.min.js"></script>