﻿@{ 
    Layout=null;
}


<!DOCTYPE html>
<meta charset="utf-8">
<style>
    text {
        font: 10px sans-serif;
    }
</style>
<body>
    <script src="//d3js.org/d3.v4.js"></script>
    <script>

var diameter = 560,
    format = d3.format(",d"),
    color = d3.scaleOrdinal(d3.schemeCategory20c);

var bubble = d3.pack()
    .size([diameter, diameter])
    .padding(1.5);

var svg = d3.select("body").append("svg")
    .attr("width", diameter)
    .attr("height", diameter)
    .attr("class", "bubble");

var data =
    {
    "name": "flex",
    "children": [
{
    "name": "physics",
    "children": [
     { "name": "High", "size": 3534 }
    ]
},
{
    "name": "layout",
    "children": [
     { "name": "Low", "size": 538 }
    ]
},
{
    "name": "display",
    "children": [
     { "name": "Medium", "size": 1534 }
    ]
},
         
     ]
};

  var root = d3.hierarchy(classes(data))
      .sum(function(d) { return d.value; })
      .sort(function(a, b) { return b.value - a.value; });

  bubble(root);
  var node = svg.selectAll(".node")
      .data(root.children)
    .enter().append("g")
      .attr("class", "node")
      .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });

  node.append("title")
      .text(function(d) { return d.data.className + ": " + format(d.value); });

  node.append("circle").attr("r", function (d) {
      return d.r;
  }).style("fill", function (d) {
      return color(Math.random());
  });

  node.append("text")
      .attr("dy", ".3em")
      .style("text-anchor", "middle")
      .text(function (d) { return d.data.className.substring(0, d.r / 3); })
  .on("mouseover", function (d) {
      d3.select(this).attr("r", 10).style("fill", "red");
  })
.on("mouseout", function (d) {
    d3.select(this).attr("r", 5.5).style("fill", "#fff8ee");
});

// Returns a flattened hierarchy containing all leaf nodes under the root.
function classes(root) {
  var classes = [];

  function recurse(name, node) {
    if (node.children) node.children.forEach(function(child) { recurse(node.name, child); });
    else classes.push({packageName: name, className: node.name, value: node.size});
  }

  recurse(null, root);
  return {children: classes};
}

d3.select(self.frameElement).style("height", diameter + "px");

    </script>
    </body>
