﻿@model Models.Login
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginPartial.cshtml";
}

<div class="right_col" role="main">
    <div id="login-page">
        <div class="container" style="box-shadow: 1px 1px 1px 1px;">
            <h2 class="form-login-heading">Predicto Login </h2>
            @using (Html.BeginForm("AdminLogin", "Home", FormMethod.Post))
            {
                <div class="login-wrap">
                    <div class="col-md-12  col-xs-12 form-group has-feedback">
                        @Html.TextBoxFor(m => m.User_Id, new { @class = "form-control has-feedback-left", @placeholder = "User Id",@required= "required" })
                        <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-12  col-xs-12 form-group has-feedback">

                        @Html.PasswordFor(m => m.Password, new { @class = "form-control has-feedback-left", @placeholder = "Password", @required = "required" })
                        <span class="fa fa-key form-control-feedback left" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-12  col-xs-12 form-group has-feedback">
                        <button style="background-color: #2A3F54; color: white; font-size: 1em; " class="btn btn-theme btn-block" href="" type="submit"><i class="fa fa-lock"></i> SIGN IN</button>
                    </div>
                </div>
            }
            <div>
                <h1> Data Semantics Pvt Ltd</h1>
                <p>©DSPL, 2016. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</div>
