﻿@model Models.Login
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginPartial.cshtml";

}
<div class="right_col" role="main">
    <div id="login-page">
        <div class="container" style="box-shadow: 1px 1px 1px 1px;">
            <h2 class="form-login-heading">Manager Login </h2>
            @using (Html.BeginForm("AdminLogin", "Home", FormMethod.Post))
            {
                <div class="login-wrap">
                    <div class="col-md-12  col-xs-12 form-group has-feedback">
                        <input type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="User Id">
                        <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-12  col-xs-12 form-group has-feedback">
                        <input type="text" class="form-control has-feedback-left" id="inputSuccess4" placeholder="Password">
                        <span class="fa fa-key form-control-feedback left" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-12  col-xs-12 form-group has-feedback">
                        <button style="background-color: rgba(42, 63, 84, 0.59); color: white; font-size: 1em; " class="btn btn-theme btn-block" href="" type="submit"><i class="fa fa-lock"></i> SIGN IN</button>
                    </div>

                    <p class="sign_txt">Login As Admin? <a href='@Url.Action("Index", "Home")'>click here</a></p>
                </div>
            }
            <div>
                <h1> Data Semantics Pvt Ltd</h1>
                <p>©DSPL, 2016. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</div>
